@import "reset";
@import "paragraph";
@import "grid";

// ##################################################
// ########## Site layout / Site Structure ##########
// ##################################################
body    {color: $bodyFontColor; background-color:$bodyBgColor;}
h1      {color: $fontH1Color;}
h2      {color: $fontH2Color;}
h3      {color: $fontH3Color;}
h4      {color: $fontH4Color;}
h5      {color: $fontH5Color;}
h6      {color: $fontH6Color;}
a, a:visited, a:active {color: $fontATagColor;}
a:hover {color: $fontATagHoverColor;}
::-moz-selection{ background: $primaryColor; color:#fff; text-shadow: none; }
::selection { background:$primaryColor; color:#fff; text-shadow: none; }
.wrapper { float: left; width: 100%;}

// #################################################
// #layout_content,#layout_header,#layout_navigation {background: url("../images/content_background.jpg") repeat left top #f5f5f5;}
#layout_content,#layout_header,#layout_navigation {background: #f5f5f5;}
// wider content 20px margins around left and right content
#layout_content .container_12, #layout_footer .container_12, #layout_navigation .container_12, #layout_header .container_12 {width: 980px;}
#layout_content .container_12 > .grid_12, #layout_footer .container_12 > .grid_12, #layout_navigation .container_12 > .grid_12, #layout_header .container_12 > .grid_12 {margin-left: 20px; margin-right: 20px;}

#header             { display: block;
 height: 107px;
  // background-color: $primaryColor;
  background-color: #fff;
   position:relative;
border-bottom: 1px solid #ddd;
 }
// #layout_header      {background-color: $primaryColor;}

.container_content,
.container_breadcrumbs,
.container_footer    {background-color:#FFFFFF;z-index:0;}
.wrapper { position:relative; z-index:1;}
#layout_popup       {margin:20px;}
body.popup  {min-width:50px!important;}
#logo               { position:absolute; top:13px; left:20px; line-height: 0px;}

// ##################################################
// ########## SubNavigation                ##########
// ##################################################

#subNavigation
{
  a
  {
    color:$subNavigationFontColor;
    &:visited
    {
      color:$subNavigationFontColor;
    }
    &:active
    {
      color:$subNavigationFontColor;
    }
    &:hover
    {
      color:$subNavigationFontHoverColor;
    }
  }
  text-transform: uppercase;
  > ul
  {
    border-bottom:solid 1px $subNavigationBorderColor;
    @if $subNavigationEnableLRBorder == 1
    {
      border-left:solid 1px $subNavigationBorderColor;
      border-right:solid 1px $subNavigationBorderColor;
    }
  }
  ul
  {
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: inline-block;
    width:100%;
    li
    {
      list-style-position: outside;
      list-style-type: none;
      margin-left: 0;
      border-top:solid 1px $subNavigationBorderColor;
      line-height:0px + $subNavigationLineHeight;
    }
  }
  @for $i from 1 through 4 {
    li.level#{$i}
    {
      a
      {
        display:block;
        padding-left: 0px + ($subNavigationHoverBorderWidth + $subNavigationIndentationStart + ($subNavigationIndentationStep * ($i - 1)));
        &:hover
        {
          border-left: 0px + $subNavigationHoverBorderWidth solid $subNavigationLBorderColor;
          padding-left: 0px + ($subNavigationHoverBorderWidth + $subNavigationIndentationStart + ($subNavigationIndentationStep * ($i - 1)) - $subNavigationHoverBorderWidth);
        }
      }
      a.cur, a.curifsub
      {
        border-left: 0px + $subNavigationHoverBorderWidth solid $subNavigationLBorderColor;
        padding-left: 0px + ($subNavigationHoverBorderWidth + $subNavigationIndentationStart + ($subNavigationIndentationStep * ($i - 1)) - $subNavigationHoverBorderWidth);
      }
    }
    li.level#{$i}.ifsub
    {
      background-image: url('../images/left_menu_arrow_c.png');
      background-position: 0px + $subNavigationHoverBorderWidth + (($subNavigationIndentationStart / 2) - ($subNavigationHoverArrowWidth / 2)) + ($subNavigationIndentationStep * ($i - 1)) 0px + (($subNavigationLineHeight / 2) - ($subNavigationHoverArrowHeight / 2));
      background-repeat:no-repeat;
    }
    li.level#{$i}.actifsub , li.level#{$i}.curifsub
    {
      background-image: url('../images/left_menu_arrow_o.png');
      background-position: 0px + $subNavigationHoverBorderWidth + (($subNavigationIndentationStart / 2) - ($subNavigationHoverArrowWidth / 2)) + ($subNavigationIndentationStep * ($i - 1)) 0px + (($subNavigationLineHeight / 2) - ($subNavigationHoverArrowHeight / 2));
      background-repeat:no-repeat;
    }
    li.level#{$i}.spc
    {
      padding-left: 0px + ($subNavigationHoverBorderWidth + $subNavigationIndentationStart + ($subNavigationIndentationStep * ($i - 1)) - $subNavigationHoverBorderWidth);
      span
      {
        font-weight:bold;
      }
    }
  }

  li.level1 {
    background-color:$subNavigationBgColorLevel1;
  }
  li.level2 {
    background-color:$subNavigationBgColorLevel2;
  }
  li.level3 {
    background-color:$subNavigationBgColorLevel3;
  }
  li.level4 {
    background-color:$subNavigationBgColorLevel4;
  }
}

// ##################################################
// ########## metaMenu                     ##########
// ##################################################

#metamenu
{
  a
  {
    color:$metaMenuFontColor;
    &:visited
    {
      color:$metaMenuFontColor;
    }
    &:active
    {
      color:$metaMenuFontColor;
    }
    &:hover
    {
      color:$metaMenuFontHoverColor;
    }
  }
  position:absolute;
  top:72px;
  right:0px;
  text-transform: uppercase;
  ul
  {
    list-style: none;
    margin: 0px;
    padding: 0px;
    li
    {
      float: left;
      list-style-position: outside;
      list-style-type: none;
      margin-left: 0;
      padding:0px 5px;
      a
      {
        font-size: 13px;
        display:block;
        text-decoration:none;
      }
    }
    li.end
    {
      padding-right:0px;
    }
  }
}

// ##################################################
// ########## mainMenu                     ##########
// ##################################################
/*Expand main menu visually */
#layout_navigation
{
  // background-color: $mainMenuBgColor;
  // border-bottom:3px solid #f69520;
  /*border-top:3px solid $mainMenuBgTopColor;*/
  height:50px;
  position:relative;
  z-index:10;
}

#navigation {
  // margin-top:3px;
  margin-left:0!important;
  position:relative;
  z-index:99;
  overflow:visible;
  height:47px;
  border-bottom:3px solid #f69520;
  li {
    overflow:hidden;
    float:left;
    list-style:none;
    margin:0!important;
    a {
      display: block;
      font-size: 15px;
      padding: 8px 15px;
      line-height:30px;
      color:$mainMenuFontColor;
      text-decoration:none;
      text-transform: uppercase;
      background-repeat: no-repeat;
    }
    a.active {
      color:$mainMenuFontColor;
      background-color: $mainMenuBgActColor;
    }
    a:hover {
      color:$mainMenuFontHoverColor;
      background-color: $mainMenuBgHoverColor;
    }
  }
  li:hover > a {
    background-color: $mainMenuBgHoverColor;
    border-bottom:3px solid $mainMenuBgHoverBottomColor;
  }
  li.firstLevel:hover ul.dropdown {
    display: block;
  }
  ul {
    margin-left: 0;
  }
  ul.dropdown {
    background: $mainMenuBgDDColor;
    display: none;
    position: absolute;
    padding:10px 0 10px 0;
    -moz-opacity:0.9;
    -khtml-opacity: 0.9;
    opacity: 0.9;
    min-width: 150px;
    z-index:99;
    li {
      background: none repeat scroll 0 0 transparent;
      float: none;
      margin: 0;
      a {
        font-size:1.0em;
        margin: 0;
        line-height:20px;
        border:none;
      }
      a:hover {
        background:$mainMenuBgDDHoverColor;
      }
      span  {
        display:block;
        margin:0;
        overflow:hidden;
        color:$mainMenuFontColor;
        text-transform: uppercase;
        font-weight:bold;
        text-align:center;
        text-transform: uppercase;
        background:$mainMenuBgDDHoverColor;
      }
    }
    li.sublevel a {
      font-size:1.0em;
      text-transform:none;
    }
  }
}

// ##################################################
// ########## breadcrumbs                  ##########
// ##################################################

#breadcrumbs {
  margin:10px 0 0 0;
  li {
    float: left;
    list-style: none outside none;
    overflow: hidden;
    background: url("../images/breadcrumb_bg.png") no-repeat scroll right center transparent;
    margin:0 10px 0 0;
    padding: 0 20px 0 0;
  }
  li.cur {
    background:none;
  }
}

// ##################################################
// ########## footer                       ##########
// ##################################################

#footer {
  color: $primaryColor;
  position:relative;
  .footer-columns
  {
    padding-top:30px;
    padding-bottom: 1.5em;
    overflow: hidden;
    min-height: 80px;
    .footer-col1, .footer-col2, .footer-col3
    {
      // padding-right:4px;
      // margin-right:5px;
      // border-right:1px solid $footerBorderColor;
      ul
      {
        margin-left:0px;
      }
    }
  }
}
#layout_footer {
  // border-top:6px solid $footerBorderColor;
  // background-color: $footerBgColor;
  background-color: #f5f5f5;

}


#mainColumn         { min-height:480px; position:relative;padding-top:20px;padding-bottom:20px;}
#leftContent        { min-height: 200px;}
#centerContent      { min-height: 281px;padding-bottom: 25px;}
#rightContent       { min-height: 200px;}
#print              { float: left;}
#container          { background: url(../images/countainer-shadow.png) no-repeat scroll -1px 0px; }

/* Special menu / Content-tools */
#contentTools       { position:absolute;bottom: 0px; right:0px;}
#contentTools .addthis_toolbox { float: left; }

/* Language menu */
.langmenu           { position:absolute; top:45px; right:0px;overflow: hidden;}
.langmenu > div     { float: left; margin-left: 10px; list-style: none;}
.langmenu .tx-srlanguagemenu-pi1 { margin-left:0; }
.langmenu .tx-srlanguagemenu-pi1 div { float: left; margin-left: 10px;}

/* Searchbox */
.container_header .grid_12 #search     { position: absolute; bottom: 0px; right: 0px;z-index:200;}
.container_navigation .grid_12 #search { position: absolute; top: 5px; right: 0px; z-index:200;}
.topsearchbutton    { display:none;}
.tx-macinasearchbox-pi1 {
   position:relative;
}
#tx_indexedsearch-sword {
  margin:0!important;
}
.searchbox {
    border: none!important;
    background: none!important;
    height: 23px;
    padding-top: 1px;
    line-height: 23px;
}
.searchbox_start {
    padding: 0 13px 0 25px;
    background: transparent url(../images/search.png) no-repeat;
}

.shortcutmenu li, .infomenu li {
    list-style: none;
    margin-left:0px;
}
.shortcutmenu a, .infomenu a {
    /*font-weight: bold;*/
    text-decoration: none;
}

.topLevel {
    a {
        font-size: 1.1em;
        text-decoration: none;
        line-height: 1.75em;
    }
    ul {
        a {
            font-size: 0.8em;
            line-height: 1.9em;
        }
        .act a {
            color: #000;
        }
        li {
            background: #eeeeee;
            padding: 5px 0px;
        }
        li.act {
            padding-bottom: 0px;
        }
        li.act li {
            padding-bottom: 2px;
        }
        li a {
            padding: 0px 20px;
        }
        ul {
            a {
                font-size: 0.7em;
                line-height: 1.2em;
            }
            li {
                background: #e2e2e2;
                padding: 2px 0px;
            }
            li a {
                padding: 0px 40px;
            }
        }
    }
}

/*
 *  content styles
 */
table.contenttable tr { background-color: #f2f2f2; }
table.contenttable-1 tr.tr-0 td { background-color: #e5e5e5; }
table.contenttable-2 tr td.td-0 { background-color: #f2f2f2; }
table.contenttable-3 tr td.td-0, table.contenttable-3 tr.tr-0 td { background-color: #e5e5e5;}
table.contenttable .tr-odd {background: #FAFAFA}
table.csc-uploads tr.tr-even { background-color: #e5e5e5; }
table.csc-uploads tr.tr-odd { background-color: #f2f2f2; }

.csc-frame-frame1 { background-color: #f2f2f2;}
div.csc-frame-frame2 { background-color: #e5e5e5; }
.csc-frame-rulerBefore { border-top: 1px solid #ccc; }
.csc-frame-rulerAfter { border-bottom: 1px solid #ccc; }
hr { color:#ccc; height: 1px; background-color: #ccc; }


/* Sitemap */
ul.sitemap, ul.sitemap ul {
    background: url("../images/sitemap_vline.gif") repeat-y scroll 0 0 transparent;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul.sitemap ul {
    margin-left: 10px;
}
ul.sitemap li {
    background: url("../images/sitemap_node.gif") no-repeat scroll 0 0 transparent;
    line-height: 20px;
    margin: 0;
    padding: 0 9px;
}
ul.sitemap li.end {
    background: url("../images/sitemap_lastnode.gif") no-repeat scroll 0 0 #FFFFFF;
}
ul.first, li.first {
    background: url("../images/sitemap_firstnode.gif") no-repeat scroll 12px 2px transparent !important;
}
ul.sitemap li a {
    background: url("../images/blank.gif") no-repeat scroll 0 0 transparent !important;
    margin-left: 25px;
}
ul.sitemap, ul.sitemap li, ul.sitemap ul {
    display: block;
}
.sitemap_wrap {
    clear: both;
    float: none;
}



/*
 *
 *  Flexible content artwork
 *
 */

.split-3col, .split-3col .col { border-color: #a7a9ac; }


/*
 *
 * Unitized plugins
 *
 */

.searchres_cont, .news-list-item, .news-single-content, .news-single-additional-info, .tx-irfaq-dynans-visible {
    border-bottom: 1px dashed #CDCDCD;
    margin-bottom: 10px;
    overflow: hidden;
}

.tx-indexedsearch-title, .news-list-item h3 {
    color: $primaryColor;
    font-size: 14px; font-size: 1.4rem;
    font-weight: bold;
    line-height: 1.25em;
}



/*
 *
 *  Pluginspecific styles
 *
 */



/*
 *   TT_NEWS
 */
.news-latest-container {
  position:relative;
  .rss {
    position:absolute;
    top:0px;
    right:0px;
  }
}
.news-latest-date {
    color:$primaryColor;
    font-size: 12px;
    font-size: 1.2rem;
    font-weight:bold
}
.news-single-item h1 {
    border-bottom: 1px dashed #CDCDCD;
    padding: 10px 0;
    margin-bottom: 10px;
    overflow: hidden;
}

.news-single-subheader p { font-weight: bold; }

.news-single-date, .news-list-date {font-style: italic;};

.news-list-morelink{display:none;}

.news-single-content {margin-top: 20px; clear:right;}
.news-single-content h1 {padding-top: 3px;}


/************************************************
 *                                              *
 *               Powermail Start                *
 *                                              *
 ************************************************/

/* Color of mandatory error message */
span.powermail_mandatory { color: red; }
.powermail_mandatory { color: #f00; }

.placeholder { color:#999; }

fieldset.tx-powermail-pi1_fieldset label,
fieldset.tx-powermail-pi1_fieldset fieldset legend { font-weight: bold; }

fieldset.tx-powermail-pi1_fieldset input.powermail_text,
fieldset.tx-powermail-pi1_fieldset input.powermail_date,
fieldset.tx-powermail-pi1_fieldset input.powermail_datetime,
fieldset.tx-powermail-pi1_fieldset textarea.powermail_textarea,
fieldset.tx-powermail-pi1_fieldset .tx_powermail_pi1_fieldwrap_html_captcha input {
  border:1px solid #ccc;
  background: #f8f8f8 none;
  -moz-box-shadow:0 0 5px #eee inset;
  -webkit-box-shadow:0 0 5px #eee inset;
}

fieldset.tx-powermail-pi1_fieldset textarea:focus,
fieldset.tx-powermail-pi1_fieldset input:not([type="submit"]):focus {
  background:#fff none;
  border:1px solid #333;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
}

.powermail_label {
    clear: left;
    display: block;
    float: inherit;
    font-weight: bold;
    width: 200px;
    color: $mainMenuBgColor;
    font-size: 12px;
    line-height: 22px;
}

.powermail_legend {
    color: #505153;
    float: left;
    font-size: 12px;
    font-weight: normal;
    margin: 3px 10px 10px 0;
    white-space: normal;
}

.powermail_fieldset {
clear: left;
border: 0 none;
padding: 10px;
margin-bottom: 20px;
background: #FFF;
}

.formError .formErrorContent {
    background: none repeat scroll 0 0 $mainMenuBgColor;
    border: 2px solid #DDDDDD;
    color: #FFFFFF;
    font-size: 11px;
    padding: 4px 10px;
    position: relative;
    width: 150px;
}

.formError .formErrorArrow div {
    background: none repeat scroll 0 0 $mainMenuBgColor;
    border-left: 2px solid #DDDDDD;
    border-right: 2px solid #DDDDDD;
    display: block;
    font-size: 0;
    height: 1px;
    line-height: 0;
    margin: 0 auto;
}

.powermail_submit {
    background: none repeat scroll 0 0 $mainMenuBgColor;
    border: 0 none;
    color: white;
    cursor: pointer;
    float: left;
    font-weight: bold;
    margin: 10px 16px 10px 0;
    padding: 5px 20px;
    width: 120px;
}

fieldset.tx-powermail-pi1_fieldset input.powermail_submit {
  font-weight: bold;
  background-color: $mainMenuBgColor;
}

p.tx_powermail_pi1_fieldwrap_html_checkbox_title,
p.tx_powermail_pi1_fieldwrap_html_radio_title {
  font-weight: bold;
}

/* Description */
.powermail_description { background: transparent url(../images/icon_info.png) top left scroll no-repeat; }
.powermail_description dfn { background-color: #FCB25F; }

/* error message */
.error {
  background-color:#FF0000;
  border:1px solid #FF0000;
  font-size:11px;
  color:#fff;

  /* CSS3 spicing for mozilla and webkit */
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  border-radius:5px;

  -moz-box-shadow:0 0 6px #ddd;
  -webkit-box-shadow:0 0 6px #ddd;
  box-shadow:0 0 6px #ddd;
}

.error p { font-weight: bold; }

/* pure CSS arrow */
.error em { border-color:#FF0000 transparent transparent; }

/* calendar root element */
#calroot {
  /* place on top of other elements. set a higher value if nessessary */
  background-color:#fff;
  font-size:11px;
  border:1px solid #ccc;

  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  border-radius:5px;

  -moz-box-shadow: 0 0 15px #666;
  -webkit-box-shadow: 0 0 15px #666;
  box-shadow:0 0 15px #666;
}

/* head. contains title, prev/next month controls and possible month/year selectors */

#caltitle {
  font-size:14px;
  color:$primaryColor;
  text-shadow:0 1px 0 #ddd;
}

#calnext, #calprev {
  background:transparent url(../img/prev.gif) no-repeat scroll center center;
  cursor:pointer;
}

#calnext { background-image:url(../img/next.gif); }

/* year/month selector */
#caltitle select { font-size:10px; }

/* names of the days */
#caldays { border-bottom:1px solid #ddd; }

/* container for weeks */
#calweeks {  background-color:#fff; }

/* single day */
.calweek a {
  text-decoration:none;
  font-size:11px;
  color:#666;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
}

/* different states */
.calweek a:hover, .calfocus {  background-color:#ddd; }

/* sunday */
a.calsun { color:red; }

/* offmonth day */
a.caloff { color:#ccc; }
a.caloff:hover { background-color:rgb(245, 245, 250); }

/* unselecteble day */
a.caldisabled {
  background-color:#efefef !important;
  color:#ccc  !important;
  cursor:default;
}

/* current day */
#calcurrent {  background-color:#498CE2;  color:#fff; }

/* today */
#caltoday {  background-color:#333; color:#fff; }

/* slider root element */
.slider {
  background:#3C72E6 url(../img/h30.png) repeat-x 0 0;
  cursor:pointer;
  border:1px solid #333;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  border-radius:5px;
  -moz-box-shadow:inset 0 0 8px #000;
  box-shadow:inset 0 0 8px #000;
}

/* progress bar (enabled with progress: true) */
.progress {  background-color:#C5FF00; opacity:0.6; }

/* drag handle */
.handle {
  background:#fff url(../img/h30.png) repeat-x 0 0;
  border:1px solid #000;
  cursor:move;
  -moz-box-shadow:0 0 6px #000;
  -webkit-box-shadow:0 0 6px #000;
  box-shadow:0 0 6px #000;
  -moz-border-radius:14px;
  -webkit-border-radius:14px;
  border-radius:14px;
}

/************************************************
 *                                              *
 *               Powermail End                  *
 *                                              *
 ************************************************/



/************************************************
 *                                              *
 *                IRFAQ Start                   *
 *                                              *
 ************************************************/

.tx-irfaq-pi1 ul li a p.bodytext { font-weight: bold; }
.tx-irfaq-pi1 ul li a { color: #000; text-decoration: none; }
.tx-irfaq-pi1 ul li a:hover { color: #000; text-decoration: underline; }
.tx-irfaq-pi1 .tx-irfaq-answer h4 p.bodytext { font-weight: bold; }
.tx-irfaq-pi1 dt p { font-weight: bold; }

.tx-irfaq-dynheader { cursor: pointer; }




/*
 *
 *
 *  Flexible content layout
 *
 *
 */

.split-2col { overflow: hidden; border-top: 1px solid transparent; }
.split-2col .col { float: left; min-height: 1px; }
.split-2col .left { width: 49%; }
.split-2col .right { width: 49%; border-left: 1px solid #a7a9ac; }
.split-2col .canvas { padding: 10px; }

.split-3col { overflow: hidden; border-top: 1px solid transparent; }
.split-3col .col { float: left; min-height: 1px; }
.split-3col .left { width: 33%; }
.split-3col .middle { width: 33%; border-left: 1px solid #a7a9ac; border-right: 1px solid transparent; }
.split-3col .right { width: 33%; }
.split-3col .canvas { padding: 10px; }
.split-3col .news-latest-container {
    padding: 0;
}


/*
 *
 *   Plugin Layout
 *
 */

/*
 * TT_NEWS
 */
.news-latest-item { padding-bottom: 10px; }
.news-single-files { margin-bottom: 10px;  }
.news-single-files img {float: left; margin-right: 5px; }
.news-single-files dt, .news-single-files dd { line-height: 16px; margin-bottom: 2px; }
.news-single-files dd a { margin-right: 10px; }
.news-single-images, .news-list-images { float: right; margin: 0 0 5px 5px; }
.news-single-related dt {margin-bottom: 5px;}

/*
 *  Indexed Search
 */


.row_long {
    margin-bottom: 20px;
    margin-top: 5px;
    overflow: hidden;
}
.tx-indexedsearch .tx-indexedsearch-whatis {
    margin-bottom: 5px;
    margin-top: 20px;
}
.tx-indexedsearch-browsebox ul li{
    margin-left: 0px;
}
.tx-indexedsearch .tx-indexedsearch-browsebox li {
    margin-left: 0;
    margin-right: 15px;
}

ul.browsebox {
  margin-left: 0;
  margin-bottom: 30px;
}

.tx-indexedsearch .tx-indexedsearch-browsebox li {
    display: inline;
    margin-left: 0;
    margin-right: 15px;
}

/* IRFAQ */
.tx-irfaq-pi1 ul.tx-irfaq-questions-list { margin-bottom: 75px; }
.tx-irfaq-pi1 ul li a p { margin: 0px; display: inline; }
.tx-irfaq-pi1 .tx-irfaq-answer { margin-bottom: 10px; }
.tx-irfaq-pi1 .tx-irfaq-answer h4 p { margin: 0px; display: inline; }
.tx-irfaq-pi1 dt p { margin: 0px; display: inline; }
.tx-irfaq-pi1 dd { margin-left: 0px; }
.tx-irfaq-pi1 dd p { margin-top: 0px;  }
.tx-irfaq-pi1 .additional-info { margin-bottom: 10px; }
.tx-irfaq-pi1 .irfaq-related-faq, .tx-irfaq-pi1 .irfaq-related-links { padding-top: 0px; padding-bottom: 0px; margin-top: 3px; margin-bottom: 15px; }

.tx-irfaq-cleaner { clear: left; height: 1px; }
.tx-irfaq-dynans-hidden { display: none; }

/* Powermail */
fieldset.tx-powermail-pi1_fieldset label,
fieldset.tx-powermail-pi1_fieldset fieldset legend {
  display: block;
  width: 200px;
  float: left;
  white-space:normal;
}

fieldset.tx-powermail-pi1_fieldset input {
  margin-left:0;
}
fieldset.tx-powermail-pi1_fieldset input.powermail_text,
fieldset.tx-powermail-pi1_fieldset input.powermail_date,
fieldset.tx-powermail-pi1_fieldset input.powermail_datetime,
fieldset.tx-powermail-pi1_fieldset textarea.powermail_textarea,
fieldset.tx-powermail-pi1_fieldset .tx_powermail_pi1_fieldwrap_html_captcha input {
  padding:2px;
  min-width:300px;
}
fieldset.tx-powermail-pi1_fieldset input.powermail_time,
fieldset.tx-powermail-pi1_fieldset input[type=time]{
    width:60px;
}
div.tx_powermail_pi1_fieldwrap_html {
  margin: 0 0 5px 0;
  clear:both;
}
fieldset.tx-powermail-pi1_fieldset input.powermail_submit {
  margin: 20px 0 10px 200px;
}
p.tx_powermail_pi1_fieldwrap_html_checkbox_title,
p.tx_powermail_pi1_fieldwrap_html_radio_title {
  margin: 0;
  padding: 0;
}
div.countryzone {
  margin: 10px 0 0 200px;
}
div.tx_powermail_pi1_fieldwrap_html label a,
div.tx_powermail_pi1_fieldwrap_html p a,
div.tx_powermail_pi1_fieldwrap_html fieldset legend.tx_powermail_pi1_fieldwrap_html_checkbox_title a,
div.tx_powermail_pi1_fieldwrap_html fieldset legend.tx_powermail_pi1_fieldwrap_html_radio_title a{
  cursor: help;
  text-decoration: none;
}
.powermail_description { display:inline-block; position:relative; vertical-align: text-top; margin-left: 10px; padding: 16px 16px 0 0; height: 0; width: 0; }
.powermail_description dfn { display: none; position:absolute; left: 21px; top:-14px; padding: 5px; }
.powermail_description:hover dfn { display: block; }
fieldset.tx-powermail-pi1_fieldset div.even {
}
td.powermail_all_td {
  padding: 3px 10px 3px 0;
}
td.powermail_all p.bodytext {
  margin: 0;
}

fieldset.tx-powermail-pi1_fieldset fieldset {
  border: 0 none;
  padding: 0;
  margin: 0;
  position: relative;
}
fieldset.tx-powermail-pi1_fieldset fieldset legend {
  position: absolute;
  left: 0;
  padding: 0;
  margin: 0;
  line-height: 18px;
}

.powermail_mandatory_helper{visibility:hidden;height:1px;position:absolute;}
fieldset.tx-powermail-pi1_fieldset .powermail_check_inner,
fieldset.tx-powermail-pi1_fieldset .powermail_radio_inner {
  margin-left: 200px;
  clear: both;
}
fieldset.tx-powermail-pi1_fieldset .powermail_check_inner label,
fieldset.tx-powermail-pi1_fieldset .powermail_radio_inner label {
  float: none;
  width: auto;
  display: inline;
  font-weight: normal;
  margin-left: 7px;
  line-height: 18px;
}
fieldset.tx-powermail-pi1_fieldset .powermail_check_inner input,
fieldset.tx-powermail-pi1_fieldset .powermail_radio_inner input {
  float: left;
  position: relative;
  clear: left;
  height: 18px;
}
div.fieldsets {
    clear: both;
}
div.powermail_multiple_js fieldset.tx-powermail-pi1_fieldset legend,
div.powermail_multiple_js fieldset.tx-powermail-pi1_fieldset.ui-tabs-hide{
    display:none;
}
div.powermail_multiple_js fieldset.tx-powermail-pi1_fieldset {
    padding-top:15px;
}
div.powermail_multiple_js fieldset.tx-powermail-pi1_fieldset fieldset legend {
    display:block;
}
ul.powermail_multiplejs_tabs {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
ul.powermail_multiplejs_tabs li {
    float: left;
    margin: 0 1px 0 0;
    padding: 0;
    list-style-type: none;
}
ul.powermail_multiplejs_tabs li a {
    display: block;
    padding: 5px 10px;
    color: #666;
    font-weight: bold;
    text-decoration: none;
    background: #E0E0E0;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -khtml-border-radius: 2px;
    border-radius: 2px;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    outline: none;
}
ul.powermail_multiplejs_tabs li a.act {
    background: #F0F0F0;
    padding:5px 10px 6px 10px;
    position:relative;
    margin-bottom:-1px
}
.error {
  padding:3px 10px 5px 10px;
  margin-left:-2px;
  z-index:10;
  text-align:left;
  height:auto;
}

.error p {
  margin: 0;
  padding: 0;
}
.error em {
  display:block;
  width:0;
  height:0;
  border:10px solid;
  position:absolute;
  bottom:-7px;
  left:5px;
  border-bottom:0 none;
}
.date {
  width:198px !important;
}
#calroot {
  z-index:10000;
  margin-top:-1px;
  width:198px;
  padding:2px;
}
#calhead {
  padding:2px 0;
  height:22px;
}

#caltitle {
  float:left;
  text-align:center;
  width:155px;
  line-height:20px;
}

#calnext, #calprev {
  display:block;
  width:20px;
  height:20px;
  float:left;
}

#calnext {
  float:right;
}

#calprev.caldisabled, #calnext.caldisabled {
  visibility:hidden;
}
#caldays { height:18px; }
#caldays span {
  display:block;
  float:left;
  width:28px;
  text-align:center;
}
#calweeks {  margin-top:4px; }
.calweek { clear:left; height:22px; }
.calweek a {
  display:block;
  float:left;
  width:27px;
  height:20px;
  margin-left:1px;
  text-align:center;
  line-height:20px;
}
.slider {
  height:9px;
  position:relative;
  width:300px;
  float:left;
  clear:right;
  margin-top:10px;
}
.progress {
  height:9px;
  display:none;
}
.handle {
  height:28px;
  width:28px;
  top:-12px;
  position:absolute;
  display:block;
  margin-top:1px;
}
fieldset.tx-powermail-pi1_fieldset input.powermail_text.range {
  float:left;
  margin:0 0 0 15px;
  padding:3px 0;
  text-align:center;
  width:50px;
}
fieldset.tx-powermail-pi1_fieldset .tx-srfreecap-pi2-image { display: block; float: left; margin: 10px 0; clear:left;}
fieldset.tx-powermail-pi1_fieldset .tx-srfreecap-pi2-cant-read { display:block; float:left; width: 70px; margin: 35px 0 0 10px; }
fieldset.tx-powermail-pi1_fieldset .tx_powermail_pi1_fieldwrap_html_captcha input { clear: left; float: left; width: 194px; }

.flex_2col {
    overflow: hidden;
}
.flex_2col .col, .flex_2col .col_first, .flex_2col .col_last {
    float: left;
    overflow: hidden;
    width: 50%; /* default value if none set */
}
.flex_2col .canvas {
    min-height: 1px;
    overflow: hidden;
}

.flex_3col {
    // overflow: hidden;
}
.flex_3col .col, .flex_3col .col_first, .flex_3col .col_last {
    float: left;
    // overflow: hidden;
    width: 33.333%; /* default value if none set */
}
.flex_3col .canvas {
    min-height: 1px;
    // overflow: hidden;
}

.flex_4col {
    overflow: hidden;
}
.flex_4col .col, .flex_4col .col_first, .flex_4col .col_last {
    float: left;
    overflow: hidden;
    width: 25%; /* default value if none set */
}

.flex_4col .canvas {
    min-height: 1px;
    overflow: hidden;
}

.flex_2col .col_first .canvas, .flex_2col .col .canvas,
.flex_3col .col_first .canvas, .flex_3col .col .canvas,
.flex_4col .col_first .canvas, .flex_4col .col .canvas {
  padding-right: 24px;
  // border-right: 1px solid $flexColBorderColor;
}

.flex_2col .col .canvas, .flex_2col .col_last .canvas,
.flex_3col .col .canvas, .flex_3col .col_last .canvas,
.flex_4col .col .canvas, .flex_4col .col_last .canvas {
  padding-left: 24px;
}

.awesome{
    background: $primaryColor url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAyCAYAAACd+7GKAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAClJREFUeNpi/v//vwMTAwPDfzjBgMpFI/7hFSOT9Y8qRuF3JLoHAQIMAHYtMmRA+CugAAAAAElFTkSuQmCC") repeat-x;
    display: inline-block;
    padding: 5px 10px 6px;
    color: #fff!important;
    text-decoration: none;
    font-weight: bold;
    line-height: 1;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-box-shadow: 0 1px 3px #999;
    -webkit-box-shadow: 0 1px 3px #999;
    text-shadow: 0 -1px 1px #222;
    border-bottom: 1px solid #222;
    position: relative;
    cursor: pointer;
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
    border-bottom: 1px solid rgba(0,0,0,0.25);
}
a.awesome {color:#fff;}
.small.awesome {font-size: 11px;}
.medium.awesome {font-size: 13px;}
.large.awesome {font-size: 14px; padding: 8px 14px 9px;}
.blue.awesome { background-color: #2daebf;}
.red.awesome { background-color: #e33100;}
.magenta.awesome { background-color: #a9014b;}
.orange.awesome { background-color: #ff5c00;}
.yellow.awesome { background-color: #ffb515;}
.dark.awesome { background-color: #222;}


