//  Typo3 & RTE-classes
pre { font-family: monospace; }

/********************************/
/* Frames, spacing, link-to-top */
/********************************/
p.csc-linkToTop { text-align: right; }
p.csc-linkToTop a { font-weight: bold; }

.csc-frame { border: 0; }
.csc-frame-invisible {}
.csc-frame-indent { padding-left: 100px; }
.csc-frame-indent3366 { padding-left: 33%; }
.csc-frame-indent6633 { padding-right: 33%; }
.csc-frame-frame1 { padding: 1em;  margin-bottom: 2em; }
div.csc-frame-frame2 { padding: 1em;  margin-bottom: 2em; }
div.csc-frame-frame1 h1, div.csc-frame-frame1 h2, div.csc-frame-frame1 h3, div.csc-frame-frame1 h4, div.csc-frame-frame1 h5 { margin-top: 2px; }
div.csc-frame-frame2 h1, div.csc-frame-frame2 h2, div.csc-frame-frame2 h3, div.csc-frame-frame2 h4, div.csc-frame-frame2 h5 { margin-top: 2px; }

/******************/
/* Headers, plain */
/******************/
h1.csc-firstHeader, h2.csc-firstHeader, h3.csc-firstHeader, h4.csc-firstHeader, h5.csc-firstHeader, h6.csc-firstHeader { margin-top: 0; }

/* Header date */
p.csc-header-date { font-size: 10px; font-size: 1.0rem; }

/* Subheader, general */
p.csc-subheader { font-weight: bold; }

/*******************/
/* RTE / Bodytext: */
/*******************/
.align-center { text-align: center; }
.align-right { text-align: right; }

/* RTE / table styling */
table.contenttable { margin: 0px 0px 10px 0px; width: 100%; }
table.contenttable tr td, table.contenttable tr th, table.contenttable caption { padding: 6px; }

.indent { margin-left:20px; margin-left:2rem;}

/**********/
/* Images */
/**********/
/* Images / Captions */
.csc-textpic-caption { font-size: 10px; font-size: 1.0rem; line-height:12px; line-height:1.2rem; font-style:italic; }

/***************/
/* Bulletlists */
/***************/
/* lists */
ul, ol {margin-bottom:1em;}
ol li { list-style-type:decimal; list-style-position:outside; margin-left:20px; margin-left:2rem;}
ul li { list-style-type:disc; list-style-position:outside; margin-left:20px; margin-left: 2rem;}
ul ul{ margin-left:10px; margin-left:1rem;}
ol ol { margin-left:18px; margin-left:1.8rem;}

/* Bulletlists, general */
ul.csc-bulletlist li {  }

/* Bulletlists, specifically */
ul.csc-bulletlist-0 { }
ul.csc-bulletlist-1 li { list-style-type : decimal; }
ul.csc-bulletlist-2 li { list-style-type : circle; }
ul.csc-bulletlist-3 li { list-style-type : square; }

/*********************/
/* tables, generally */
/*********************/
table.contenttable p { }
table.contenttable tr td { vertical-align: top; }

/* tables, specifically */
table.contenttable-0 p {  }

table.contenttable-1 p {  }
table.contenttable-1 tr.tr-0 td p { font-weight: bold; }

table.contenttable-2 p {  }
table.contenttable-2 tr td.td-0 p { font-weight: bold; }

table.contenttable-3 p {  }
table.contenttable-3 tr td.td-0 p, table.contenttable-3 tr.tr-0 td p { font-weight: bold; }


/************************/
/* Filelinks, generally */
/************************/
table.csc-uploads { border: 0; margin-bottom: 2em; }
table.csc-uploads tr td p { background-color : transparent; }
table.csc-uploads tr td { vertical-align : top; padding: 0.5em; }
table.csc-uploads tr td.csc-uploads-icon { padding: 0.5em 0 0.5em 0.5em; width: 1%; text-align: center; }
table.csc-uploads tr td.csc-uploads-fileName { width: 80%; padding-right: 0;}
table.csc-uploads tr td.csc-uploads-fileName p { margin: 0; }
table.csc-uploads tr td.csc-uploads-fileName p a { font-weight: bold; }
table.csc-uploads tr td.csc-uploads-fileName p.csc-uploads-description {margin-top: 0.5em; }
table.csc-uploads tr td.csc-uploads-fileSize { white-space: nowrap; text-align: right; }

/*****************/
/* Various forms */
/*****************/
/* Email, Login and Search forms generally: */
fieldset { border: 0; }

/* Email form, specifically */
form .csc-mailform-field { margin: 0 0 0.5em; clear:both; overflow: hidden; }
form .csc-mailform-field .csc-mailform-radio { float: left; width: 40%; }
form .csc-mailform-field label { float: left; text-align: right; margin-right: 5%; width:30%; }
form .csc-mailform-field input, .csc-mailform-field textarea, .csc-mailform-field select, .csc-mailform-radio fieldset { width:50%; }
form .csc-mailform-field input.csc-mailform-submit, form .csc-mailform-field input.csc-mailform-check, form .csc-mailform-field input.csc-mailform-radio { width:auto; }
form .csc-mailform-field input.csc-mailform-submit { margin-left: 35% !important;/* see label width + margin*/ }
form .csc-mailform-radio legend { display: none; }
form .csc-mailform-radio fieldset input { float: none; }
form .csc-mailform-radio fieldset label { text-align: left; float: none; width: auto; margin: 0; }
form .csc-mailform-field input.mf-check, form .csc-mailform-field input.csc-mailform-radio { width: auto; }
form .csc-mailform-field input.csc-mailform-radio { margin-right: 0.5em; }
form .csc-mailform-field .csc-mailform-radio label { float: none; margin-right: 0; }

/* fe login */

.tx-felogin-pi1 form div { margin: 0 0 0.5em; clear:both; }
/*****************************/
/* Menu / Sitemap, generally */
/*****************************/

ul.csc-menu { }
ul.csc-menu a { }
ul.csc-menu a:hover { }
ul.csc-menu .csc-section { font-weight: normal; margin-left: 20px; font-style: italic; }

/* Menu / Sitemap, "Menu of these pages" */
ul.csc-menu-def {  }

/* Menu / Sitemap, "Menu of subpages to these pages" */
ul.csc-menu-1 { }

/* Menu / Sitemap, "Sitemap" */
div.csc-sitemap { }
div.csc-sitemap ul { }

/* Menu / Sitemap, "Section index (pagecontent w/Index checked)" */
ul.csc-menu-3 { }
ul.csc-menu-3 li.csc-section { }

/* Menu / Sitemap, "Menu of subpages to these pages (with abstract)" */
dl.csc-menu-4 { }
dl.csc-menu-4 dt { }
dl.csc-menu-4 dd { font-weight: normal; font-style: italic; margin-top: 0; padding: 0 2px 2px 20px; }

/* Menu / Sitemap, "Recently updated pages" */
ul.csc-menu-5 { }

/* Menu / Sitemap, "Related pages (based on keywords)" */
ul.csc-menu-6 { }

/* Menu / Sitemap, "Menu of subpages to these pages + sections" */
ul.csc-menu-7 { }
body {
    font-size: 1em;
}

/* RTE & Content-styles */

/* RTE Font-size-fix */
.htmlarea-content-body {  }

/**/
html { font-size: 62.5%; }
body, .htmlarea-content-body {
  font-family:Lato,Helvetica,Arial,sans-serif;
	color: #000000;
}

ul { list-style-type: disc; }
ul ul { list-style-type: circle; margin-bottom: 0;}
ul ul ul { list-style-type: square; }

p, table, ul {
	margin-bottom: 12px;
}

p, li, table, dt {font-size: 12px; line-height:18px; /*font-size: 1.2rem; */}

caption,th{
    text-align:left;
}

h1 {
	font-size: 19px;
	line-height: 21px;
}
h2 {
	font-size: 16px;
	line-height: 20px;
	font-weight: bold;
}
h3 {
	font-size: 14px;
	line-height: 16px;
	font-weight: bold;
}
h4 {
	font-size: 13px;
	line-height: 15px;
	font-weight: bold;
}
h5 {
	font-size: 12px;
	line-height: 14px;
	font-weight: bold;
}
h6 {
	font-size: 11px;
	line-height: 13px;
	font-weight: bold;
}

h1,h2,h3,h4,h5,h6 { margin-bottom: 15px; }

p.preamble {
	font-size: 16px;
	line-height: 22px;
	font-weight: normal;
}

a.arrow1, a.arrow2, a.arrow1:active, a.arrow2:active, a.arrow1:visited, a.arrow2:visited { background: url(../images/foundation-link-arrow1.png) no-repeat scroll right center transparent; padding-right: 15px; color: #FCB25F; text-decoration:none; }
a.arrow2, a.arrow2:active, a.arrow2:visited { background-image: url(../images/foundation-link-arrow2.png); color: #000000; }
a.arrow1:hover, a.arrow2:hover { text-decoration:underline; }