// ############################################
// ########## basic color schema   ############
// ############################################

$primaryColor: #535353;
$secondaryColor: #595959;
$accentColor: #fdb812;

// ############################################
// ########## basic color settings ############
// ############################################
$bodyFontColor: #505153;                                                       // Standard font color
$bodyBgColor: transparent;                                                      // Standard body bg color

$fontATagColor: adjust-hue(lighten($secondaryColor, 5%), 5);                    // font color for a tags incl. active and visited
$fontATagHoverColor: adjust-hue(darken($secondaryColor, 20%), 30);              // font color on hover a tags

$fontH1Color: $secondaryColor;                                                  // font color for h1 tag
$fontH2Color: $fontH1Color;                                                     // font color for h2 tag
$fontH3Color: $fontH1Color;                                                     // font color for h3 tag
$fontH4Color: $fontH1Color;                                                     // font color for h4 tag
$fontH5Color: $fontH1Color;                                                     // font color for h5 tag
$fontH6Color: $fontH1Color;                                                     // font color for h6 tag

$footerBgColor: #dfdfdf;                                                        // background color in footer
$footerBorderColor: #c1c1c1;                                                    // border color in footer

$flexColBorderColor: #E2E2E2;                                                   // border in 2,3,4 col flex

// ############################################
// ########## subNavigation settings ##########
// ############################################
// The "open" arrow image picked from ../images/left_menu_arrow_o.png
// The "closed" arrow image picked from ../images/left_menu_arrow_o.png*/

$subNavigationBgColorLevel1: transparent;                                        // Background color level1
$subNavigationBgColorLevel2: transparent;                                        // Background color level2
$subNavigationBgColorLevel3: transparent;                                        // Background color level3
$subNavigationBgColorLevel4: transparent;                                        // Background color level4
$subNavigationBorderColor: #E6E6E6;                                              // The color of the border between menu items (top on each li and bottom of root ul)
$subNavigationFontColor: $fontATagColor;                                         // The color of the text in menu (top on each li and bottom of root ul) default
$subNavigationFontHoverColor: $fontATagHoverColor;                               // The color of the text in menu on hover
$subNavigationLBorderColor: $accentColor;                                        // The color of the left border in menu (hover, current items) default
$subNavigationEnableLRBorder: 0;                                                 // If left and right border should be set on root url

$subNavigationLineHeight: 25;                                                    // Lineheight of items in sub-navigation

$subNavigationHoverArrowWidth: 7;                                                // Width of the arrow icon (so widths can be calculated)
$subNavigationHoverArrowHeight: 7;                                               // Width of the arrow icon (so position can be calculated)

$subNavigationHoverBorderWidth: 3;                                               // Width of left border (hover, current)
$subNavigationIndentationStart: 15;                                              // Left margin before first level
$subNavigationIndentationStep: 10;                                               // How much indentation for each sub levels

// ##################################################
// ########## Main menu settings           ##########
// ##################################################
$mainMenuFontColor: #595959;
$mainMenuFontHoverColor: #fff;
$mainMenuBgTopColor: adjust_hue($secondaryColor,-25);
$mainMenuBgColor: #fff;
$mainMenuBgBottomColor: $accentColor;
$mainMenuBgActColor: $accentColor;
$mainMenuBgHoverColor: $accentColor;
$mainMenuBgHoverBottomColor: darken($accentColor,20);
$mainMenuBgDDColor: $accentColor;
$mainMenuBgDDHoverColor: darken($accentColor,20);

// ##################################################
// ########## Meta menu settings           ##########
// ##################################################
$metaMenuFontColor: #7f7f7f;
$metaMenuFontHoverColor: #7f7f7f;

@import "artwork";

.slogan{
  position:absolute;
  top:52px;
  left:174px;
  width:240px;
  // line-height: 0px;
  p{
  	font-size:14px;
  	line-height:16px;
}
}

body{
	-webkit-font-smoothing: antialiased;
	// font-smoothing: antialiased;
  // text-rendering: optimizeLegibility;

}
.container_header, .container_navigation{
	background-color:#fff;

}
.lline{
	padding-top:7px;
}
.lline span{
	font-family:arial, sans-serif;
	color: #f69520;
	font-size: 13px;
	font-weight:bold;
	line-height: 30px;
	// padding-top:25px;
}

// .container_navigation{
	// border-bottom:3px solid #f69520;
// }
.flex_3col{
  position:relative;
  z-index:1;
  // margin-bottom: 30px;
}
.sbox{
  // width:100%;
  position:relative;
  border:1px solid #ddd;
  padding: 16px;
  margin-top:10px;
  margin-bottom:30px;
    background:#fff;
    // z-index:100;

}
.sbox img{
  border-bottom:5px solid #f69520;
}

.sbox h2{
  padding-top:10px;
  padding-bottom:5px;
  font-weight:400;
  margin:0;
}
.sbox p{
  font-weight:300;
  font-size:13px;
  margin:0;
}
.arrow img{
  border:0;
  padding-left:6px;
}
// .triangle{
//   font-size: 17px;
//   color: #f69520;
//   font-family:arial,sans-serif;
//   // font-weight:bold;
//   padding-left:5px;
// }
.sboxNews{
  position:relative;
  // border:1px solid #ddd;
  // padding: 16px;
  margin-top:10px;
  margin-bottom:30px;
    background:#fff;
}
// .curved-hz-1 {
//     position:relative;
//     width:40%;
//     padding:1em;
//     margin:2em 10px 4em;

// }
// .hiddenBox{
//   height:30px;
//   // position:relative;
//   // z-index:-4;
//   background:transparent;
// }
.sbox:before,
.sbox:after {
    content:"";
    position:absolute;
    diplay:block;
    // z-index:-2;
}

// .sbox:before {
//     top:50%;
//     bottom:0px;
//     left:10px;
//     right:10px;
//     -webkit-box-shadow:0 0 15px rgba(0,0,0,0.6);
//        -moz-box-shadow:0 0 15px rgba(0,0,0,0.6);
//             box-shadow:0 0 15px rgba(0,0,0,0.6);
//     -moz-border-radius:100px / 10px;
//          border-radius:100px / 10px;
// }
.sbox:before {
  // content:"";
    // position:absolute;
    // diplay:block;
    width:180px;
    height:92%;
    z-index:-2;
    top:20px;
    bottom:0px;
    left:19%;
    // right:10px;
    // background:#222;
    -webkit-box-shadow:0 0 25px rgba(0,0,0,0.4);
       -moz-box-shadow:0 0 25px rgba(0,0,0,0.4);
            box-shadow:0 0 25px rgba(0,0,0,0.4);
    -moz-border-radius:700px / 10px;
         border-radius:90px / 10px;
}

.col .canvas{
  padding:0 12px!important;
}
.news-header{
  font-size: 16px;
  margin-bottom:5px;
  // line-height:1;
  color: #010101;
  height:30px;
  background: #f5f5f5;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  -webkit-box-shadow:0 1px 0 #ebebeb, 0 -1px 0 #ebebeb;
  -moz-box-shadow:0 1px 0 #ebebeb, 0 -1px 0 #ebebeb;
  box-shadow:0 1px 0 #ebebeb, 0 -1px 0 #ebebeb;
  // padding: 7px 0 0 20px;
img{
  float:left;
  display:block;
  padding: 6px 0 0 12px;
}
span{
  display:block;
  padding: 5px 0 0 38px;
  // padding:0;
  // display:block;
  // vertical-align:
}
}
.news-latest-item{
  margin-left:8px;
  padding-top:14px;
border-bottom:1px solid #ebebeb;

}

.news-latest-item h2{
  font-size: 14px;
  margin:0;
  font-weight:normal;
  padding-top:3px;

}
.news-latest-item p{
  font-size: 12px;
  margin:0;
  // border-bottom:1px solid #ebebeb
}
.news-latest-date{
  margin-bottom:8px;
  // line-height:1.6;
}
.main-text{
  padding: 0 20px;
  h2{
    font-size:23px;
  }
  p{
    font-size:17px;
    line-height:1.5;
  }
}
.italic{
      font-family:arial, sans-serif;
      font-size:19px;
      // font-weight:bold;
      font-style:italic;
}
.orange{
  color:#f69520;
  font-style:normal;
}

.listStyle li:before{
  // font-family:arial;
  content:"\00BB\0020";
}
.footerBG{
background: #dfdfdf;
}

.grid_2{
  border-left:1px solid $footerBorderColor;
  padding:0 0 0 25px;
}
.alpha{
  border:0;
  // width:200px;
padding: 0 0 0 16px;
}
.socialLogo{
  position:absolute;
  top:70px;
  right:15px;
  // float:right;
  img{
    padding:2px;
  }
  img:first-child{
    padding-left:50px;
  }
}
.copyright{
  font-size:12px;
  margin:0 15px;
  padding: 10px 0;
  border-top:1px solid #cfcfcf;
  // border-bottom:1px solid $footerBorderColor;
}