@charset "IBM866";
/**
 * HTML5 вњ° Boilerplate
 *
 * style.css contains a reset, font normalization and some base styles.
 *
 * Credit is left where credit is due.
 * Much inspiration was taken from these projects:
 * - yui.yahooapis.com/2.8.1/build/base/base.css
 * - camendesign.com/design/
 * - praegnanz.de/weblog/htmlcssjs-kickstart
 */
/**
 * html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
 * v1.6.1 2010-09-17 | Authors: Eric Meyer & Richard Clark
 * html5doctor.com/html-5-reset-stylesheet/
 */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, img, ins, kbd, q, samp,
strong, b, i, em,
small, sub, sup, var, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 1em;
  font: inherit;
  vertical-align: baseline; }

/** alexander@pixelant.se [ Foundation 1.0 ]
 * Flyttat ut table, caption, tbody, tfoot, thead, tr, th, td
 * fГ¶r att vi inte kan ha margin, padding & border 0
 * eftersom vi vill att RTE-egenskaper ska fungera ordentligt 
 */
table, caption, tbody, tfoot, thead, tr, th, td {
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/** alexander@pixelant.se [ 2011-06-03 ]
 *  strong, b, i & em fГ¶rlorar sin "standard-styling" med font: inherit;
 *  sГҐ hГ¤r sГ¤tter vi bold pГҐ strong & b, och italic pГҐ i & em! 
 */
strong, b {
  font-weight: bold; }

i, em {
  font-style: italic; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none; }

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

select, input, textarea, button {
  font: 99% sans-serif; }

pre, code, kbd, samp {
  font-family: monospace, sans-serif; }

html {
  overflow-y: scroll; }

a:hover, a:active {
  outline: none; }

ul, ol {
  margin-left: 2em; }

ol {
  list-style-type: decimal; }

nav ul, nav li {
  margin: 0;
  list-style: none;
  list-style-image: none; }

small {
  font-size: 85%; }

strong, th {
  font-weight: bold; }

td {
  vertical-align: top; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
  padding: 15px; }

textarea {
  overflow: auto; }

/* www.sitepoint.com/blogs/2010/08/20/ie-remove-textarea-scrollbars/ */
.ie6 legend, .ie7 legend {
  margin-left: -7px; }

input[type="radio"] {
  vertical-align: text-bottom; }

input[type="checkbox"] {
  vertical-align: bottom; }

.ie7 input[type="checkbox"] {
  vertical-align: baseline; }

.ie6 input {
  vertical-align: text-bottom; }

label, input[type="button"], input[type="submit"], input[type="image"], button {
  cursor: pointer; }

button, input, select, textarea {
  margin: 0; }

.no-boxshadow input:invalid, .no-boxshadow textarea:invalid {
  background-color: #f0dddd; }

a:link {
  -webkit-tap-highlight-color: #FF5E99; }

button {
  width: auto;
  overflow: visible; }

.ie7 img {
  -ms-interpolation-mode: bicubic; }

body, select, input, textarea {
  /* #444 looks better than black: twitter.com/H_FJ/statuses/11800719859 */
  color: #444;
  /* Set your base font here, to apply evenly */
  /* font-family: Georgia, serif;  */ }

h1, h2, h3, h4, h5, h6 {
  font-weight: bold; }

a, a:active, a:visited {
  color: #607890;
  text-decoration: none; }

a:hover {
  color: #036; }

.ir {
  display: block;
  text-indent: -999em;
  overflow: hidden;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr; }

.hidden {
  display: none;
  visibility: hidden; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

.invisible {
  visibility: hidden; }

.clearfix:before, .clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden; }

.clearfix:after {
  clear: both; }

.clearfix {
  zoom: 1; }

/**
 * Media queries for responsive design.
 *
 * These follow after primary styles so they will successfully override.
 */
/* Grade-A Mobile Browsers (Opera Mobile, Mobile Safari, Android Chrome)
   consider this: www.cloudfour.com/css-media-query-for-mobile-is-fools-gold/ */
@media print {
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important; }

  a, a:visited {
    color: #444444 !important;
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: ""; }

  /* Don't show links for images, or javascript/internal links */
  pre, blockquote {
    border: 1px solid #999999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  tr, img {
    page-break-inside: avoid; }

  @page {
    margin: 0.5cm; }

  p, h2, h3 {
    orphans: 3;
    widows: 3; }

  h2, h3 {
    page-break-after: avoid; } }
pre {
  font-family: monospace; }

/********************************/
/* Frames, spacing, link-to-top */
/********************************/
p.csc-linkToTop {
  text-align: right; }

p.csc-linkToTop a {
  font-weight: bold; }

.csc-frame {
  border: 0; }

.csc-frame-indent {
  padding-left: 100px; }

.csc-frame-indent3366 {
  padding-left: 33%; }

.csc-frame-indent6633 {
  padding-right: 33%; }

.csc-frame-frame1 {
  padding: 1em;
  margin-bottom: 2em; }

div.csc-frame-frame2 {
  padding: 1em;
  margin-bottom: 2em; }

div.csc-frame-frame1 h1, div.csc-frame-frame1 h2, div.csc-frame-frame1 h3, div.csc-frame-frame1 h4, div.csc-frame-frame1 h5 {
  margin-top: 2px; }

div.csc-frame-frame2 h1, div.csc-frame-frame2 h2, div.csc-frame-frame2 h3, div.csc-frame-frame2 h4, div.csc-frame-frame2 h5 {
  margin-top: 2px; }

/******************/
/* Headers, plain */
/******************/
h1.csc-firstHeader, h2.csc-firstHeader, h3.csc-firstHeader, h4.csc-firstHeader, h5.csc-firstHeader, h6.csc-firstHeader {
  margin-top: 0; }

/* Header date */
p.csc-header-date {
  font-size: 10px;
  font-size: 1.0rem; }

/* Subheader, general */
p.csc-subheader {
  font-weight: bold; }

/*******************/
/* RTE / Bodytext: */
/*******************/
.align-center {
  text-align: center; }

.align-right {
  text-align: right; }

/* RTE / table styling */
table.contenttable {
  margin: 0px 0px 10px 0px;
  width: 100%; }

table.contenttable tr td, table.contenttable tr th, table.contenttable caption {
  padding: 6px; }

.indent {
  margin-left: 20px;
  margin-left: 2rem; }

/**********/
/* Images */
/**********/
/* Images / Captions */
.csc-textpic-caption {
  font-size: 10px;
  font-size: 1.0rem;
  line-height: 12px;
  line-height: 1.2rem;
  font-style: italic; }

/***************/
/* Bulletlists */
/***************/
/* lists */
ul, ol {
  margin-bottom: 1em; }

ol li {
  list-style-type: decimal;
  list-style-position: outside;
  margin-left: 20px;
  margin-left: 2rem; }

ul li {
  list-style-type: disc;
  list-style-position: outside;
  margin-left: 20px;
  margin-left: 2rem; }

ul ul {
  margin-left: 10px;
  margin-left: 1rem; }

ol ol {
  margin-left: 18px;
  margin-left: 1.8rem; }

/* Bulletlists, general */
/* Bulletlists, specifically */
ul.csc-bulletlist-1 li {
  list-style-type: decimal; }

ul.csc-bulletlist-2 li {
  list-style-type: circle; }

ul.csc-bulletlist-3 li {
  list-style-type: square; }

/*********************/
/* tables, generally */
/*********************/
table.contenttable tr td {
  vertical-align: top; }

/* tables, specifically */
table.contenttable-1 tr.tr-0 td p {
  font-weight: bold; }

table.contenttable-2 tr td.td-0 p {
  font-weight: bold; }

table.contenttable-3 tr td.td-0 p, table.contenttable-3 tr.tr-0 td p {
  font-weight: bold; }

/************************/
/* Filelinks, generally */
/************************/
table.csc-uploads {
  border: 0;
  margin-bottom: 2em; }

table.csc-uploads tr td p {
  background-color: transparent; }

table.csc-uploads tr td {
  vertical-align: top;
  padding: 0.5em; }

table.csc-uploads tr td.csc-uploads-icon {
  padding: 0.5em 0 0.5em 0.5em;
  width: 1%;
  text-align: center; }

table.csc-uploads tr td.csc-uploads-fileName {
  width: 80%;
  padding-right: 0; }

table.csc-uploads tr td.csc-uploads-fileName p {
  margin: 0; }

table.csc-uploads tr td.csc-uploads-fileName p a {
  font-weight: bold; }

table.csc-uploads tr td.csc-uploads-fileName p.csc-uploads-description {
  margin-top: 0.5em; }

table.csc-uploads tr td.csc-uploads-fileSize {
  white-space: nowrap;
  text-align: right; }

/*****************/
/* Various forms */
/*****************/
/* Email, Login and Search forms generally: */
fieldset {
  border: 0; }

/* Email form, specifically */
form .csc-mailform-field {
  margin: 0 0 0.5em;
  clear: both;
  overflow: hidden; }

form .csc-mailform-field .csc-mailform-radio {
  float: left;
  width: 40%; }

form .csc-mailform-field label {
  float: left;
  text-align: right;
  margin-right: 5%;
  width: 30%; }

form .csc-mailform-field input, .csc-mailform-field textarea, .csc-mailform-field select, .csc-mailform-radio fieldset {
  width: 50%; }

form .csc-mailform-field input.csc-mailform-submit, form .csc-mailform-field input.csc-mailform-check, form .csc-mailform-field input.csc-mailform-radio {
  width: auto; }

form .csc-mailform-field input.csc-mailform-submit {
  margin-left: 35% !important;
  /* see label width + margin*/ }

form .csc-mailform-radio legend {
  display: none; }

form .csc-mailform-radio fieldset input {
  float: none; }

form .csc-mailform-radio fieldset label {
  text-align: left;
  float: none;
  width: auto;
  margin: 0; }

form .csc-mailform-field input.mf-check, form .csc-mailform-field input.csc-mailform-radio {
  width: auto; }

form .csc-mailform-field input.csc-mailform-radio {
  margin-right: 0.5em; }

form .csc-mailform-field .csc-mailform-radio label {
  float: none;
  margin-right: 0; }

/* fe login */
.tx-felogin-pi1 form div {
  margin: 0 0 0.5em;
  clear: both; }

/*****************************/
/* Menu / Sitemap, generally */
/*****************************/
ul.csc-menu .csc-section {
  font-weight: normal;
  margin-left: 20px;
  font-style: italic; }

/* Menu / Sitemap, "Menu of these pages" */
/* Menu / Sitemap, "Menu of subpages to these pages" */
/* Menu / Sitemap, "Sitemap" */
/* Menu / Sitemap, "Section index (pagecontent w/Index checked)" */
/* Menu / Sitemap, "Menu of subpages to these pages (with abstract)" */
dl.csc-menu-4 dd {
  font-weight: normal;
  font-style: italic;
  margin-top: 0;
  padding: 0 2px 2px 20px; }

/* Menu / Sitemap, "Recently updated pages" */
/* Menu / Sitemap, "Related pages (based on keywords)" */
/* Menu / Sitemap, "Menu of subpages to these pages + sections" */
body {
  font-size: 1em; }

/* RTE & Content-styles */
/* RTE Font-size-fix */
/**/
html {
  font-size: 62.5%; }

body, .htmlarea-content-body {
  font-family: Lato,Helvetica,Arial,sans-serif;
  color: #000000; }

ul {
  list-style-type: disc; }

ul ul {
  list-style-type: circle;
  margin-bottom: 0; }

ul ul ul {
  list-style-type: square; }

p, table, ul {
  margin-bottom: 12px; }

p, li, table, dt {
  font-size: 12px;
  line-height: 18px;
  /*font-size: 1.2rem; */ }

caption, th {
  text-align: left; }

h1 {
  font-size: 19px;
  line-height: 21px; }

h2 {
  font-size: 16px;
  line-height: 20px;
  font-weight: bold; }

h3 {
  font-size: 14px;
  line-height: 16px;
  font-weight: bold; }

h4 {
  font-size: 13px;
  line-height: 15px;
  font-weight: bold; }

h5 {
  font-size: 12px;
  line-height: 14px;
  font-weight: bold; }

h6 {
  font-size: 11px;
  line-height: 13px;
  font-weight: bold; }

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 15px; }

p.preamble {
  font-size: 16px;
  line-height: 22px;
  font-weight: normal; }

a.arrow1, a.arrow2, a.arrow1:active, a.arrow2:active, a.arrow1:visited, a.arrow2:visited {
  background: url(../images/foundation-link-arrow1.png) no-repeat scroll right center transparent;
  padding-right: 15px;
  color: #FCB25F;
  text-decoration: none; }

a.arrow2, a.arrow2:active, a.arrow2:visited {
  background-image: url(../images/foundation-link-arrow2.png);
  color: #000000; }

a.arrow1:hover, a.arrow2:hover {
  text-decoration: underline; }

/*
	Variable Grid System.
	Learn more ~ http://www.spry-soft.com/grids/
	Based on 960 Grid System - http://960.gs/

	Licensed under GPL and MIT.
*/
/*
  Forces backgrounds to span full width,
  even if there is horizontal scrolling.
  Increase this if your layout is wider.

  Note: IE6 works fine without this fix.
*/
body {
  min-width: 960px; }

/* Containers
----------------------------------------------------------------------------------------------------*/
.container_12 {
  margin-left: auto;
  margin-right: auto;
  width: 960px; }

/* Grid >> Global
----------------------------------------------------------------------------------------------------*/
.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12 {
  display: inline;
  float: left;
  position: relative;
  margin-left: 10px;
  margin-right: 10px; }

.push_1, .pull_1,
.push_2, .pull_2,
.push_3, .pull_3,
.push_4, .pull_4,
.push_5, .pull_5,
.push_6, .pull_6,
.push_7, .pull_7,
.push_8, .pull_8,
.push_9, .pull_9,
.push_10, .pull_10,
.push_11, .pull_11,
.push_12, .pull_12 {
  position: relative; }

/* Grid >> Children (Alpha ~ First, Omega ~ Last)
----------------------------------------------------------------------------------------------------*/
.alpha {
  margin-left: 0; }

.omega {
  margin-right: 0; }

/* Grid >> 12 Columns
----------------------------------------------------------------------------------------------------*/
.container_12 .grid_1 {
  width: 60px; }

.container_12 .grid_2 {
  width: 140px; }

.container_12 .grid_3 {
  width: 220px; }

.container_12 .grid_4 {
  width: 300px; }

.container_12 .grid_5 {
  width: 380px; }

.container_12 .grid_6 {
  width: 460px; }

.container_12 .grid_7 {
  width: 540px; }

.container_12 .grid_8 {
  width: 620px; }

.container_12 .grid_9 {
  width: 700px; }

.container_12 .grid_10 {
  width: 780px; }

.container_12 .grid_11 {
  width: 860px; }

.container_12 .grid_12 {
  width: 940px; }

/* Prefix Extra Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/
.container_12 .prefix_1 {
  padding-left: 80px; }

.container_12 .prefix_2 {
  padding-left: 160px; }

.container_12 .prefix_3 {
  padding-left: 240px; }

.container_12 .prefix_4 {
  padding-left: 320px; }

.container_12 .prefix_5 {
  padding-left: 400px; }

.container_12 .prefix_6 {
  padding-left: 480px; }

.container_12 .prefix_7 {
  padding-left: 560px; }

.container_12 .prefix_8 {
  padding-left: 640px; }

.container_12 .prefix_9 {
  padding-left: 720px; }

.container_12 .prefix_10 {
  padding-left: 800px; }

.container_12 .prefix_11 {
  padding-left: 880px; }

/* Suffix Extra Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/
.container_12 .suffix_1 {
  padding-right: 80px; }

.container_12 .suffix_2 {
  padding-right: 160px; }

.container_12 .suffix_3 {
  padding-right: 240px; }

.container_12 .suffix_4 {
  padding-right: 320px; }

.container_12 .suffix_5 {
  padding-right: 400px; }

.container_12 .suffix_6 {
  padding-right: 480px; }

.container_12 .suffix_7 {
  padding-right: 560px; }

.container_12 .suffix_8 {
  padding-right: 640px; }

.container_12 .suffix_9 {
  padding-right: 720px; }

.container_12 .suffix_10 {
  padding-right: 800px; }

.container_12 .suffix_11 {
  padding-right: 880px; }

/* Push Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/
.container_12 .push_1 {
  left: 80px; }

.container_12 .push_2 {
  left: 160px; }

.container_12 .push_3 {
  left: 240px; }

.container_12 .push_4 {
  left: 320px; }

.container_12 .push_5 {
  left: 400px; }

.container_12 .push_6 {
  left: 480px; }

.container_12 .push_7 {
  left: 560px; }

.container_12 .push_8 {
  left: 640px; }

.container_12 .push_9 {
  left: 720px; }

.container_12 .push_10 {
  left: 800px; }

.container_12 .push_11 {
  left: 880px; }

/* Pull Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/
.container_12 .pull_1 {
  left: -80px; }

.container_12 .pull_2 {
  left: -160px; }

.container_12 .pull_3 {
  left: -240px; }

.container_12 .pull_4 {
  left: -320px; }

.container_12 .pull_5 {
  left: -400px; }

.container_12 .pull_6 {
  left: -480px; }

.container_12 .pull_7 {
  left: -560px; }

.container_12 .pull_8 {
  left: -640px; }

.container_12 .pull_9 {
  left: -720px; }

.container_12 .pull_10 {
  left: -800px; }

.container_12 .pull_11 {
  left: -880px; }

/* `Clear Floated Elements
----------------------------------------------------------------------------------------------------*/
/* http://sonspring.com/journal/clearing-floats */
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0; }

/* http://www.yuiblog.com/blog/2010/09/27/clearfix-reloaded-overflowhidden-demystified */
.clearfix:before,
.clearfix:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0; }

.clearfix:after {
  clear: both; }

/*
  The following zoom:1 rule is specifically for IE6 + IE7.
  Move to separate stylesheet if invalid CSS is a problem.
*/
.clearfix {
  zoom: 1; }

body {
  color: #505153;
  background-color: transparent; }

h1 {
  color: #595959; }

h2 {
  color: #595959; }

h3 {
  color: #595959; }

h4 {
  color: #595959; }

h5 {
  color: #595959; }

h6 {
  color: #595959; }

a, a:visited, a:active {
  color: #666666; }

a:hover {
  color: #262626; }

::-moz-selection {
  background: #535353;
  color: #fff;
  text-shadow: none; }

::selection {
  background: #535353;
  color: #fff;
  text-shadow: none; }

.wrapper {
  float: left;
  width: 100%; }

#layout_content, #layout_header, #layout_navigation {
  background: #f5f5f5; }

#layout_content .container_12, #layout_footer .container_12, #layout_navigation .container_12, #layout_header .container_12 {
  width: 980px; }

#layout_content .container_12 > .grid_12, #layout_footer .container_12 > .grid_12, #layout_navigation .container_12 > .grid_12, #layout_header .container_12 > .grid_12 {
  margin-left: 20px;
  margin-right: 20px; }

#header {
  display: block;
  height: 107px;
  background-color: #fff;
  position: relative;
  border-bottom: 1px solid #dddddd; }

.container_content,
.container_breadcrumbs,
.container_footer {
  background-color: #FFFFFF;
  z-index: 0; }

.wrapper {
  position: relative;
  z-index: 1; }

#layout_popup {
  margin: 20px; }

body.popup {
  min-width: 50px!important; }

#logo {
  position: absolute;
  top: 13px;
  left: 20px;
  line-height: 0px; }

#subNavigation {
  text-transform: uppercase; }
  #subNavigation a {
    color: #666666; }
    #subNavigation a:visited {
      color: #666666; }
    #subNavigation a:active {
      color: #666666; }
    #subNavigation a:hover {
      color: #262626; }
  #subNavigation > ul {
    border-bottom: solid 1px #e6e6e6; }
  #subNavigation ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: inline-block;
    width: 100%; }
    #subNavigation ul li {
      list-style-position: outside;
      list-style-type: none;
      margin-left: 0;
      border-top: solid 1px #e6e6e6;
      line-height: 25px; }
  #subNavigation li.level1 a {
    display: block;
    padding-left: 18px; }
    #subNavigation li.level1 a:hover {
      border-left: 3px solid #fdb812;
      padding-left: 15px; }
  #subNavigation li.level1 a.cur, #subNavigation li.level1 a.curifsub {
    border-left: 3px solid #fdb812;
    padding-left: 15px; }
  #subNavigation li.level1.ifsub {
    background-image: url("../images/left_menu_arrow_c.png");
    background-position: 7px 9px;
    background-repeat: no-repeat; }
  #subNavigation li.level1.actifsub, #subNavigation li.level1.curifsub {
    background-image: url("../images/left_menu_arrow_o.png");
    background-position: 7px 9px;
    background-repeat: no-repeat; }
  #subNavigation li.level1.spc {
    padding-left: 15px; }
    #subNavigation li.level1.spc span {
      font-weight: bold; }
  #subNavigation li.level2 a {
    display: block;
    padding-left: 28px; }
    #subNavigation li.level2 a:hover {
      border-left: 3px solid #fdb812;
      padding-left: 25px; }
  #subNavigation li.level2 a.cur, #subNavigation li.level2 a.curifsub {
    border-left: 3px solid #fdb812;
    padding-left: 25px; }
  #subNavigation li.level2.ifsub {
    background-image: url("../images/left_menu_arrow_c.png");
    background-position: 17px 9px;
    background-repeat: no-repeat; }
  #subNavigation li.level2.actifsub, #subNavigation li.level2.curifsub {
    background-image: url("../images/left_menu_arrow_o.png");
    background-position: 17px 9px;
    background-repeat: no-repeat; }
  #subNavigation li.level2.spc {
    padding-left: 25px; }
    #subNavigation li.level2.spc span {
      font-weight: bold; }
  #subNavigation li.level3 a {
    display: block;
    padding-left: 38px; }
    #subNavigation li.level3 a:hover {
      border-left: 3px solid #fdb812;
      padding-left: 35px; }
  #subNavigation li.level3 a.cur, #subNavigation li.level3 a.curifsub {
    border-left: 3px solid #fdb812;
    padding-left: 35px; }
  #subNavigation li.level3.ifsub {
    background-image: url("../images/left_menu_arrow_c.png");
    background-position: 27px 9px;
    background-repeat: no-repeat; }
  #subNavigation li.level3.actifsub, #subNavigation li.level3.curifsub {
    background-image: url("../images/left_menu_arrow_o.png");
    background-position: 27px 9px;
    background-repeat: no-repeat; }
  #subNavigation li.level3.spc {
    padding-left: 35px; }
    #subNavigation li.level3.spc span {
      font-weight: bold; }
  #subNavigation li.level4 a {
    display: block;
    padding-left: 48px; }
    #subNavigation li.level4 a:hover {
      border-left: 3px solid #fdb812;
      padding-left: 45px; }
  #subNavigation li.level4 a.cur, #subNavigation li.level4 a.curifsub {
    border-left: 3px solid #fdb812;
    padding-left: 45px; }
  #subNavigation li.level4.ifsub {
    background-image: url("../images/left_menu_arrow_c.png");
    background-position: 37px 9px;
    background-repeat: no-repeat; }
  #subNavigation li.level4.actifsub, #subNavigation li.level4.curifsub {
    background-image: url("../images/left_menu_arrow_o.png");
    background-position: 37px 9px;
    background-repeat: no-repeat; }
  #subNavigation li.level4.spc {
    padding-left: 45px; }
    #subNavigation li.level4.spc span {
      font-weight: bold; }
  #subNavigation li.level1 {
    background-color: transparent; }
  #subNavigation li.level2 {
    background-color: transparent; }
  #subNavigation li.level3 {
    background-color: transparent; }
  #subNavigation li.level4 {
    background-color: transparent; }

#metamenu {
  position: absolute;
  top: 72px;
  right: 0px;
  text-transform: uppercase; }
  #metamenu a {
    color: #7f7f7f; }
    #metamenu a:visited {
      color: #7f7f7f; }
    #metamenu a:active {
      color: #7f7f7f; }
    #metamenu a:hover {
      color: #7f7f7f; }
  #metamenu ul {
    list-style: none;
    margin: 0px;
    padding: 0px; }
    #metamenu ul li {
      float: left;
      list-style-position: outside;
      list-style-type: none;
      margin-left: 0;
      padding: 0px 5px; }
      #metamenu ul li a {
        font-size: 13px;
        display: block;
        text-decoration: none; }
    #metamenu ul li.end {
      padding-right: 0px; }

/*Expand main menu visually */
#layout_navigation {
  /*border-top:3px solid $mainMenuBgTopColor;*/
  height: 50px;
  position: relative;
  z-index: 10; }

#navigation {
  margin-left: 0!important;
  position: relative;
  z-index: 99;
  overflow: visible;
  height: 47px;
  border-bottom: 3px solid #f69520; }
  #navigation li {
    overflow: hidden;
    float: left;
    list-style: none;
    margin: 0!important; }
    #navigation li a {
      display: block;
      font-size: 15px;
      padding: 8px 15px;
      line-height: 30px;
      color: #595959;
      text-decoration: none;
      text-transform: uppercase;
      background-repeat: no-repeat; }
    #navigation li a.active {
      color: #595959;
      background-color: #fdb812; }
    #navigation li a:hover {
      color: white;
      background-color: #fdb812; }
  #navigation li:hover > a {
    background-color: #fdb812;
    border-bottom: 3px solid #a87701; }
  #navigation li.firstLevel:hover ul.dropdown {
    display: block; }
  #navigation ul {
    margin-left: 0; }
  #navigation ul.dropdown {
    background: #fdb812;
    display: none;
    position: absolute;
    padding: 10px 0 10px 0;
    -moz-opacity: 0.9;
    -khtml-opacity: 0.9;
    opacity: 0.9;
    min-width: 150px;
    z-index: 99; }
    #navigation ul.dropdown li {
      background: none repeat scroll 0 0 transparent;
      float: none;
      margin: 0; }
      #navigation ul.dropdown li a {
        font-size: 1.0em;
        margin: 0;
        line-height: 20px;
        border: none; }
      #navigation ul.dropdown li a:hover {
        background: #a87701; }
      #navigation ul.dropdown li span {
        display: block;
        margin: 0;
        overflow: hidden;
        color: #595959;
        text-transform: uppercase;
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
        background: #a87701; }
    #navigation ul.dropdown li.sublevel a {
      font-size: 1.0em;
      text-transform: none; }

#breadcrumbs {
  margin: 10px 0 0 0; }
  #breadcrumbs li {
    float: left;
    list-style: none outside none;
    overflow: hidden;
    background: url("../images/breadcrumb_bg.png") no-repeat scroll right center transparent;
    margin: 0 10px 0 0;
    padding: 0 20px 0 0; }
  #breadcrumbs li.cur {
    background: none; }

#footer {
  color: #535353;
  position: relative; }
  #footer .footer-columns {
    padding-top: 30px;
    padding-bottom: 1.5em;
    overflow: hidden;
    min-height: 80px; }
    #footer .footer-columns .footer-col1 ul, #footer .footer-columns .footer-col2 ul, #footer .footer-columns .footer-col3 ul {
      margin-left: 0px; }

#layout_footer {
  background-color: #f5f5f5; }

#mainColumn {
  min-height: 480px;
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px; }

#leftContent {
  min-height: 200px; }

#centerContent {
  min-height: 281px;
  padding-bottom: 25px; }

#rightContent {
  min-height: 200px; }

#print {
  float: left; }

#container {
  background: url(../images/countainer-shadow.png) no-repeat scroll -1px 0px; }

/* Special menu / Content-tools */
#contentTools {
  position: absolute;
  bottom: 0px;
  right: 0px; }

#contentTools .addthis_toolbox {
  float: left; }

/* Language menu */
.langmenu {
  position: absolute;
  top: 45px;
  right: 0px;
  overflow: hidden; }

.langmenu > div {
  float: left;
  margin-left: 10px;
  list-style: none; }

.langmenu .tx-srlanguagemenu-pi1 {
  margin-left: 0; }

.langmenu .tx-srlanguagemenu-pi1 div {
  float: left;
  margin-left: 10px; }

/* Searchbox */
.container_header .grid_12 #search {
  position: absolute;
  bottom: 0px;
  right: 0px;
  z-index: 200; }

.container_navigation .grid_12 #search {
  position: absolute;
  top: 5px;
  right: 0px;
  z-index: 200; }

.topsearchbutton {
  display: none; }

.tx-macinasearchbox-pi1 {
  position: relative; }

#tx_indexedsearch-sword {
  margin: 0!important; }

.searchbox {
  border: none!important;
  background: none!important;
  height: 23px;
  padding-top: 1px;
  line-height: 23px; }

.searchbox_start {
  padding: 0 13px 0 25px;
  background: transparent url(../images/search.png) no-repeat; }

.shortcutmenu li, .infomenu li {
  list-style: none;
  margin-left: 0px; }

.shortcutmenu a, .infomenu a {
  /*font-weight: bold;*/
  text-decoration: none; }

.topLevel a {
  font-size: 1.1em;
  text-decoration: none;
  line-height: 1.75em; }
.topLevel ul a {
  font-size: 0.8em;
  line-height: 1.9em; }
.topLevel ul .act a {
  color: #000; }
.topLevel ul li {
  background: #eeeeee;
  padding: 5px 0px; }
.topLevel ul li.act {
  padding-bottom: 0px; }
.topLevel ul li.act li {
  padding-bottom: 2px; }
.topLevel ul li a {
  padding: 0px 20px; }
.topLevel ul ul a {
  font-size: 0.7em;
  line-height: 1.2em; }
.topLevel ul ul li {
  background: #e2e2e2;
  padding: 2px 0px; }
.topLevel ul ul li a {
  padding: 0px 40px; }

/*
 *  content styles
 */
table.contenttable tr {
  background-color: #f2f2f2; }

table.contenttable-1 tr.tr-0 td {
  background-color: #e5e5e5; }

table.contenttable-2 tr td.td-0 {
  background-color: #f2f2f2; }

table.contenttable-3 tr td.td-0, table.contenttable-3 tr.tr-0 td {
  background-color: #e5e5e5; }

table.contenttable .tr-odd {
  background: #FAFAFA; }

table.csc-uploads tr.tr-even {
  background-color: #e5e5e5; }

table.csc-uploads tr.tr-odd {
  background-color: #f2f2f2; }

.csc-frame-frame1 {
  background-color: #f2f2f2; }

div.csc-frame-frame2 {
  background-color: #e5e5e5; }

.csc-frame-rulerBefore {
  border-top: 1px solid #cccccc; }

.csc-frame-rulerAfter {
  border-bottom: 1px solid #cccccc; }

hr {
  color: #ccc;
  height: 1px;
  background-color: #ccc; }

/* Sitemap */
ul.sitemap, ul.sitemap ul {
  background: url("../images/sitemap_vline.gif") repeat-y scroll 0 0 transparent;
  list-style-type: none;
  margin: 0;
  padding: 0; }

ul.sitemap ul {
  margin-left: 10px; }

ul.sitemap li {
  background: url("../images/sitemap_node.gif") no-repeat scroll 0 0 transparent;
  line-height: 20px;
  margin: 0;
  padding: 0 9px; }

ul.sitemap li.end {
  background: url("../images/sitemap_lastnode.gif") no-repeat scroll 0 0 white; }

ul.first, li.first {
  background: url("../images/sitemap_firstnode.gif") no-repeat scroll 12px 2px transparent !important; }

ul.sitemap li a {
  background: url("../images/blank.gif") no-repeat scroll 0 0 transparent !important;
  margin-left: 25px; }

ul.sitemap, ul.sitemap li, ul.sitemap ul {
  display: block; }

.sitemap_wrap {
  clear: both;
  float: none; }

/*
 *
 *  Flexible content artwork
 *
 */
.split-3col, .split-3col .col {
  border-color: #a7a9ac; }

/*
 *
 * Unitized plugins
 *
 */
.searchres_cont, .news-list-item, .news-single-content, .news-single-additional-info, .tx-irfaq-dynans-visible {
  border-bottom: 1px dashed #cdcdcd;
  margin-bottom: 10px;
  overflow: hidden; }

.tx-indexedsearch-title, .news-list-item h3 {
  color: #535353;
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 1.25em; }

/*
 *
 *  Pluginspecific styles
 *
 */
/*
 *   TT_NEWS
 */
.news-latest-container {
  position: relative; }
  .news-latest-container .rss {
    position: absolute;
    top: 0px;
    right: 0px; }

.news-latest-date {
  color: #535353;
  font-size: 12px;
  font-size: 1.2rem;
  font-weight: bold; }

.news-single-item h1 {
  border-bottom: 1px dashed #cdcdcd;
  padding: 10px 0;
  margin-bottom: 10px;
  overflow: hidden; }

.news-single-subheader p {
  font-weight: bold; }

.news-single-date, .news-list-date {
  font-style: italic; }

.news-list-morelink {
  display: none; }

.news-single-content {
  margin-top: 20px;
  clear: right; }

.news-single-content h1 {
  padding-top: 3px; }

/************************************************
 *                                              *
 *               Powermail Start                *
 *                                              *
 ************************************************/
/* Color of mandatory error message */
span.powermail_mandatory {
  color: red; }

.powermail_mandatory {
  color: #f00; }

.placeholder {
  color: #999; }

fieldset.tx-powermail-pi1_fieldset label,
fieldset.tx-powermail-pi1_fieldset fieldset legend {
  font-weight: bold; }

fieldset.tx-powermail-pi1_fieldset input.powermail_text,
fieldset.tx-powermail-pi1_fieldset input.powermail_date,
fieldset.tx-powermail-pi1_fieldset input.powermail_datetime,
fieldset.tx-powermail-pi1_fieldset textarea.powermail_textarea,
fieldset.tx-powermail-pi1_fieldset .tx_powermail_pi1_fieldwrap_html_captcha input {
  border: 1px solid #cccccc;
  background: #f8f8f8 none;
  -moz-box-shadow: 0 0 5px #eeeeee inset;
  -webkit-box-shadow: 0 0 5px #eeeeee inset; }

fieldset.tx-powermail-pi1_fieldset textarea:focus,
fieldset.tx-powermail-pi1_fieldset input:not([type="submit"]):focus {
  background: white none;
  border: 1px solid #333333;
  -moz-box-shadow: none;
  -webkit-box-shadow: none; }

.powermail_label {
  clear: left;
  display: block;
  float: inherit;
  font-weight: bold;
  width: 200px;
  color: white;
  font-size: 12px;
  line-height: 22px; }

.powermail_legend {
  color: #505153;
  float: left;
  font-size: 12px;
  font-weight: normal;
  margin: 3px 10px 10px 0;
  white-space: normal; }

.powermail_fieldset {
  clear: left;
  border: 0 none;
  padding: 10px;
  margin-bottom: 20px;
  background: #FFF; }

.formError .formErrorContent {
  background: none repeat scroll 0 0 white;
  border: 2px solid #dddddd;
  color: #FFFFFF;
  font-size: 11px;
  padding: 4px 10px;
  position: relative;
  width: 150px; }

.formError .formErrorArrow div {
  background: none repeat scroll 0 0 white;
  border-left: 2px solid #dddddd;
  border-right: 2px solid #dddddd;
  display: block;
  font-size: 0;
  height: 1px;
  line-height: 0;
  margin: 0 auto; }

.powermail_submit {
  background: none repeat scroll 0 0 white;
  border: 0 none;
  color: white;
  cursor: pointer;
  float: left;
  font-weight: bold;
  margin: 10px 16px 10px 0;
  padding: 5px 20px;
  width: 120px; }

fieldset.tx-powermail-pi1_fieldset input.powermail_submit {
  font-weight: bold;
  background-color: white; }

p.tx_powermail_pi1_fieldwrap_html_checkbox_title,
p.tx_powermail_pi1_fieldwrap_html_radio_title {
  font-weight: bold; }

/* Description */
.powermail_description {
  background: transparent url(../images/icon_info.png) top left scroll no-repeat; }

.powermail_description dfn {
  background-color: #FCB25F; }

/* error message */
.error {
  background-color: #FF0000;
  border: 1px solid red;
  font-size: 11px;
  color: #fff;
  /* CSS3 spicing for mozilla and webkit */
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0 0 6px #dddddd;
  -webkit-box-shadow: 0 0 6px #dddddd;
  box-shadow: 0 0 6px #dddddd; }

.error p {
  font-weight: bold; }

/* pure CSS arrow */
.error em {
  border-color: red transparent transparent; }

/* calendar root element */
#calroot {
  /* place on top of other elements. set a higher value if nessessary */
  background-color: #fff;
  font-size: 11px;
  border: 1px solid #cccccc;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0 0 15px #666666;
  -webkit-box-shadow: 0 0 15px #666666;
  box-shadow: 0 0 15px #666666; }

/* head. contains title, prev/next month controls and possible month/year selectors */
#caltitle {
  font-size: 14px;
  color: #535353;
  text-shadow: 0 1px 0 #dddddd; }

#calnext, #calprev {
  background: transparent url(../img/prev.gif) no-repeat scroll center center;
  cursor: pointer; }

#calnext {
  background-image: url(../img/next.gif); }

/* year/month selector */
#caltitle select {
  font-size: 10px; }

/* names of the days */
#caldays {
  border-bottom: 1px solid #dddddd; }

/* container for weeks */
#calweeks {
  background-color: #fff; }

/* single day */
.calweek a {
  text-decoration: none;
  font-size: 11px;
  color: #666;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px; }

/* different states */
.calweek a:hover, .calfocus {
  background-color: #ddd; }

/* sunday */
a.calsun {
  color: red; }

/* offmonth day */
a.caloff {
  color: #ccc; }

a.caloff:hover {
  background-color: #f5f5fa; }

/* unselecteble day */
a.caldisabled {
  background-color: #efefef !important;
  color: #cccccc !important;
  cursor: default; }

/* current day */
#calcurrent {
  background-color: #498CE2;
  color: #fff; }

/* today */
#caltoday {
  background-color: #333;
  color: #fff; }

/* slider root element */
.slider {
  background: #3c72e6 url(../img/h30.png) repeat-x 0 0;
  cursor: pointer;
  border: 1px solid #333333;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: inset 0 0 8px black;
  box-shadow: inset 0 0 8px black; }

/* progress bar (enabled with progress: true) */
.progress {
  background-color: #C5FF00;
  opacity: 0.6; }

/* drag handle */
.handle {
  background: white url(../img/h30.png) repeat-x 0 0;
  border: 1px solid black;
  cursor: move;
  -moz-box-shadow: 0 0 6px black;
  -webkit-box-shadow: 0 0 6px black;
  box-shadow: 0 0 6px black;
  -moz-border-radius: 14px;
  -webkit-border-radius: 14px;
  border-radius: 14px; }

/************************************************
 *                                              *
 *               Powermail End                  *
 *                                              *
 ************************************************/
/************************************************
 *                                              *
 *                IRFAQ Start                   *
 *                                              *
 ************************************************/
.tx-irfaq-pi1 ul li a p.bodytext {
  font-weight: bold; }

.tx-irfaq-pi1 ul li a {
  color: #000;
  text-decoration: none; }

.tx-irfaq-pi1 ul li a:hover {
  color: #000;
  text-decoration: underline; }

.tx-irfaq-pi1 .tx-irfaq-answer h4 p.bodytext {
  font-weight: bold; }

.tx-irfaq-pi1 dt p {
  font-weight: bold; }

.tx-irfaq-dynheader {
  cursor: pointer; }

/*
 *
 *
 *  Flexible content layout
 *
 *
 */
.split-2col {
  overflow: hidden;
  border-top: 1px solid transparent; }

.split-2col .col {
  float: left;
  min-height: 1px; }

.split-2col .left {
  width: 49%; }

.split-2col .right {
  width: 49%;
  border-left: 1px solid #a7a9ac; }

.split-2col .canvas {
  padding: 10px; }

.split-3col {
  overflow: hidden;
  border-top: 1px solid transparent; }

.split-3col .col {
  float: left;
  min-height: 1px; }

.split-3col .left {
  width: 33%; }

.split-3col .middle {
  width: 33%;
  border-left: 1px solid #a7a9ac;
  border-right: 1px solid transparent; }

.split-3col .right {
  width: 33%; }

.split-3col .canvas {
  padding: 10px; }

.split-3col .news-latest-container {
  padding: 0; }

/*
 *
 *   Plugin Layout
 *
 */
/*
 * TT_NEWS
 */
.news-latest-item {
  padding-bottom: 10px; }

.news-single-files {
  margin-bottom: 10px; }

.news-single-files img {
  float: left;
  margin-right: 5px; }

.news-single-files dt, .news-single-files dd {
  line-height: 16px;
  margin-bottom: 2px; }

.news-single-files dd a {
  margin-right: 10px; }

.news-single-images, .news-list-images {
  float: right;
  margin: 0 0 5px 5px; }

.news-single-related dt {
  margin-bottom: 5px; }

/*
 *  Indexed Search
 */
.row_long {
  margin-bottom: 20px;
  margin-top: 5px;
  overflow: hidden; }

.tx-indexedsearch .tx-indexedsearch-whatis {
  margin-bottom: 5px;
  margin-top: 20px; }

.tx-indexedsearch-browsebox ul li {
  margin-left: 0px; }

.tx-indexedsearch .tx-indexedsearch-browsebox li {
  margin-left: 0;
  margin-right: 15px; }

ul.browsebox {
  margin-left: 0;
  margin-bottom: 30px; }

.tx-indexedsearch .tx-indexedsearch-browsebox li {
  display: inline;
  margin-left: 0;
  margin-right: 15px; }

/* IRFAQ */
.tx-irfaq-pi1 ul.tx-irfaq-questions-list {
  margin-bottom: 75px; }

.tx-irfaq-pi1 ul li a p {
  margin: 0px;
  display: inline; }

.tx-irfaq-pi1 .tx-irfaq-answer {
  margin-bottom: 10px; }

.tx-irfaq-pi1 .tx-irfaq-answer h4 p {
  margin: 0px;
  display: inline; }

.tx-irfaq-pi1 dt p {
  margin: 0px;
  display: inline; }

.tx-irfaq-pi1 dd {
  margin-left: 0px; }

.tx-irfaq-pi1 dd p {
  margin-top: 0px; }

.tx-irfaq-pi1 .additional-info {
  margin-bottom: 10px; }

.tx-irfaq-pi1 .irfaq-related-faq, .tx-irfaq-pi1 .irfaq-related-links {
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 3px;
  margin-bottom: 15px; }

.tx-irfaq-cleaner {
  clear: left;
  height: 1px; }

.tx-irfaq-dynans-hidden {
  display: none; }

/* Powermail */
fieldset.tx-powermail-pi1_fieldset label,
fieldset.tx-powermail-pi1_fieldset fieldset legend {
  display: block;
  width: 200px;
  float: left;
  white-space: normal; }

fieldset.tx-powermail-pi1_fieldset input {
  margin-left: 0; }

fieldset.tx-powermail-pi1_fieldset input.powermail_text,
fieldset.tx-powermail-pi1_fieldset input.powermail_date,
fieldset.tx-powermail-pi1_fieldset input.powermail_datetime,
fieldset.tx-powermail-pi1_fieldset textarea.powermail_textarea,
fieldset.tx-powermail-pi1_fieldset .tx_powermail_pi1_fieldwrap_html_captcha input {
  padding: 2px;
  min-width: 300px; }

fieldset.tx-powermail-pi1_fieldset input.powermail_time,
fieldset.tx-powermail-pi1_fieldset input[type=time] {
  width: 60px; }

div.tx_powermail_pi1_fieldwrap_html {
  margin: 0 0 5px 0;
  clear: both; }

fieldset.tx-powermail-pi1_fieldset input.powermail_submit {
  margin: 20px 0 10px 200px; }

p.tx_powermail_pi1_fieldwrap_html_checkbox_title,
p.tx_powermail_pi1_fieldwrap_html_radio_title {
  margin: 0;
  padding: 0; }

div.countryzone {
  margin: 10px 0 0 200px; }

div.tx_powermail_pi1_fieldwrap_html label a,
div.tx_powermail_pi1_fieldwrap_html p a,
div.tx_powermail_pi1_fieldwrap_html fieldset legend.tx_powermail_pi1_fieldwrap_html_checkbox_title a,
div.tx_powermail_pi1_fieldwrap_html fieldset legend.tx_powermail_pi1_fieldwrap_html_radio_title a {
  cursor: help;
  text-decoration: none; }

.powermail_description {
  display: inline-block;
  position: relative;
  vertical-align: text-top;
  margin-left: 10px;
  padding: 16px 16px 0 0;
  height: 0;
  width: 0; }

.powermail_description dfn {
  display: none;
  position: absolute;
  left: 21px;
  top: -14px;
  padding: 5px; }

.powermail_description:hover dfn {
  display: block; }

td.powermail_all_td {
  padding: 3px 10px 3px 0; }

td.powermail_all p.bodytext {
  margin: 0; }

fieldset.tx-powermail-pi1_fieldset fieldset {
  border: 0 none;
  padding: 0;
  margin: 0;
  position: relative; }

fieldset.tx-powermail-pi1_fieldset fieldset legend {
  position: absolute;
  left: 0;
  padding: 0;
  margin: 0;
  line-height: 18px; }

.powermail_mandatory_helper {
  visibility: hidden;
  height: 1px;
  position: absolute; }

fieldset.tx-powermail-pi1_fieldset .powermail_check_inner,
fieldset.tx-powermail-pi1_fieldset .powermail_radio_inner {
  margin-left: 200px;
  clear: both; }

fieldset.tx-powermail-pi1_fieldset .powermail_check_inner label,
fieldset.tx-powermail-pi1_fieldset .powermail_radio_inner label {
  float: none;
  width: auto;
  display: inline;
  font-weight: normal;
  margin-left: 7px;
  line-height: 18px; }

fieldset.tx-powermail-pi1_fieldset .powermail_check_inner input,
fieldset.tx-powermail-pi1_fieldset .powermail_radio_inner input {
  float: left;
  position: relative;
  clear: left;
  height: 18px; }

div.fieldsets {
  clear: both; }

div.powermail_multiple_js fieldset.tx-powermail-pi1_fieldset legend,
div.powermail_multiple_js fieldset.tx-powermail-pi1_fieldset.ui-tabs-hide {
  display: none; }

div.powermail_multiple_js fieldset.tx-powermail-pi1_fieldset {
  padding-top: 15px; }

div.powermail_multiple_js fieldset.tx-powermail-pi1_fieldset fieldset legend {
  display: block; }

ul.powermail_multiplejs_tabs {
  list-style-type: none;
  padding: 0;
  margin: 0; }

ul.powermail_multiplejs_tabs li {
  float: left;
  margin: 0 1px 0 0;
  padding: 0;
  list-style-type: none; }

ul.powermail_multiplejs_tabs li a {
  display: block;
  padding: 5px 10px;
  color: #666;
  font-weight: bold;
  text-decoration: none;
  background: #E0E0E0;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -khtml-border-radius: 2px;
  border-radius: 2px;
  border-top: 1px solid #cccccc;
  border-left: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  outline: none; }

ul.powermail_multiplejs_tabs li a.act {
  background: #F0F0F0;
  padding: 5px 10px 6px 10px;
  position: relative;
  margin-bottom: -1px; }

.error {
  padding: 3px 10px 5px 10px;
  margin-left: -2px;
  z-index: 10;
  text-align: left;
  height: auto; }

.error p {
  margin: 0;
  padding: 0; }

.error em {
  display: block;
  width: 0;
  height: 0;
  border: 10px solid;
  position: absolute;
  bottom: -7px;
  left: 5px;
  border-bottom: 0 none; }

.date {
  width: 198px !important; }

#calroot {
  z-index: 10000;
  margin-top: -1px;
  width: 198px;
  padding: 2px; }

#calhead {
  padding: 2px 0;
  height: 22px; }

#caltitle {
  float: left;
  text-align: center;
  width: 155px;
  line-height: 20px; }

#calnext, #calprev {
  display: block;
  width: 20px;
  height: 20px;
  float: left; }

#calnext {
  float: right; }

#calprev.caldisabled, #calnext.caldisabled {
  visibility: hidden; }

#caldays {
  height: 18px; }

#caldays span {
  display: block;
  float: left;
  width: 28px;
  text-align: center; }

#calweeks {
  margin-top: 4px; }

.calweek {
  clear: left;
  height: 22px; }

.calweek a {
  display: block;
  float: left;
  width: 27px;
  height: 20px;
  margin-left: 1px;
  text-align: center;
  line-height: 20px; }

.slider {
  height: 9px;
  position: relative;
  width: 300px;
  float: left;
  clear: right;
  margin-top: 10px; }

.progress {
  height: 9px;
  display: none; }

.handle {
  height: 28px;
  width: 28px;
  top: -12px;
  position: absolute;
  display: block;
  margin-top: 1px; }

fieldset.tx-powermail-pi1_fieldset input.powermail_text.range {
  float: left;
  margin: 0 0 0 15px;
  padding: 3px 0;
  text-align: center;
  width: 50px; }

fieldset.tx-powermail-pi1_fieldset .tx-srfreecap-pi2-image {
  display: block;
  float: left;
  margin: 10px 0;
  clear: left; }

fieldset.tx-powermail-pi1_fieldset .tx-srfreecap-pi2-cant-read {
  display: block;
  float: left;
  width: 70px;
  margin: 35px 0 0 10px; }

fieldset.tx-powermail-pi1_fieldset .tx_powermail_pi1_fieldwrap_html_captcha input {
  clear: left;
  float: left;
  width: 194px; }

.flex_2col {
  overflow: hidden; }

.flex_2col .col, .flex_2col .col_first, .flex_2col .col_last {
  float: left;
  overflow: hidden;
  width: 50%;
  /* default value if none set */ }

.flex_2col .canvas {
  min-height: 1px;
  overflow: hidden; }

.flex_3col .col, .flex_3col .col_first, .flex_3col .col_last {
  float: left;
  width: 33.333%;
  /* default value if none set */ }

.flex_3col .canvas {
  min-height: 1px; }

.flex_4col {
  overflow: hidden; }

.flex_4col .col, .flex_4col .col_first, .flex_4col .col_last {
  float: left;
  overflow: hidden;
  width: 25%;
  /* default value if none set */ }

.flex_4col .canvas {
  min-height: 1px;
  overflow: hidden; }

.flex_2col .col_first .canvas, .flex_2col .col .canvas,
.flex_3col .col_first .canvas, .flex_3col .col .canvas,
.flex_4col .col_first .canvas, .flex_4col .col .canvas {
  padding-right: 24px; }

.flex_2col .col .canvas, .flex_2col .col_last .canvas,
.flex_3col .col .canvas, .flex_3col .col_last .canvas,
.flex_4col .col .canvas, .flex_4col .col_last .canvas {
  padding-left: 24px; }

.awesome {
  background: #535353 url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAyCAYAAACd+7GKAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAClJREFUeNpi/v//vwMTAwPDfzjBgMpFI/7hFSOT9Y8qRuF3JLoHAQIMAHYtMmRA+CugAAAAAElFTkSuQmCC") repeat-x;
  display: inline-block;
  padding: 5px 10px 6px;
  color: #fff!important;
  text-decoration: none;
  font-weight: bold;
  line-height: 1;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-box-shadow: 0 1px 3px #999999;
  -webkit-box-shadow: 0 1px 3px #999999;
  text-shadow: 0 -1px 1px #222222;
  border-bottom: 1px solid #222222;
  position: relative;
  cursor: pointer;
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
  border-bottom: 1px solid rgba(0, 0, 0, 0.25); }

a.awesome {
  color: #fff; }

.small.awesome {
  font-size: 11px; }

.medium.awesome {
  font-size: 13px; }

.large.awesome {
  font-size: 14px;
  padding: 8px 14px 9px; }

.blue.awesome {
  background-color: #2daebf; }

.red.awesome {
  background-color: #e33100; }

.magenta.awesome {
  background-color: #a9014b; }

.orange.awesome {
  background-color: #ff5c00; }

.yellow.awesome {
  background-color: #ffb515; }

.dark.awesome {
  background-color: #222; }

.slogan {
  position: absolute;
  top: 52px;
  left: 174px;
  width: 240px; }
  .slogan p {
    font-size: 14px;
    line-height: 16px; }

body {
  -webkit-font-smoothing: antialiased; }

.container_header, .container_navigation {
  background-color: #fff; }

.lline {
  padding-top: 7px; }

.lline span {
  font-family: arial, sans-serif;
  color: #f69520;
  font-size: 13px;
  font-weight: bold;
  line-height: 30px; }

.flex_3col {
  position: relative;
  z-index: 1; }

.sbox {
  position: relative;
  border: 1px solid #dddddd;
  padding: 16px;
  margin-top: 10px;
  margin-bottom: 30px;
  background: #fff; }

.sbox img {
  border-bottom: 5px solid #f69520; }

.sbox h2 {
  padding-top: 10px;
  padding-bottom: 5px;
  font-weight: 400;
  margin: 0; }

.sbox p {
  font-weight: 300;
  font-size: 13px;
  margin: 0; }

.arrow img {
  border: 0;
  padding-left: 6px; }

.sboxNews {
  position: relative;
  margin-top: 10px;
  margin-bottom: 30px;
  background: #fff; }

.sbox:before,
.sbox:after {
  content: "";
  position: absolute;
  diplay: block; }

.sbox:before {
  width: 180px;
  height: 92%;
  z-index: -2;
  top: 20px;
  bottom: 0px;
  left: 19%;
  -webkit-box-shadow: 0 0 25px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 25px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.4);
  -moz-border-radius: 700px/10px;
  border-radius: 90px/10px; }

.col .canvas {
  padding: 0 12px !important; }

.news-header {
  font-size: 16px;
  margin-bottom: 5px;
  color: #010101;
  height: 30px;
  background: #f5f5f5;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  -webkit-box-shadow: 0 1px 0 #ebebeb, 0 -1px 0 #ebebeb;
  -moz-box-shadow: 0 1px 0 #ebebeb, 0 -1px 0 #ebebeb;
  box-shadow: 0 1px 0 #ebebeb, 0 -1px 0 #ebebeb; }
  .news-header img {
    float: left;
    display: block;
    padding: 6px 0 0 12px; }
  .news-header span {
    display: block;
    padding: 5px 0 0 38px; }

.news-latest-item {
  margin-left: 8px;
  padding-top: 14px;
  border-bottom: 1px solid #ebebeb; }

.news-latest-item h2 {
  font-size: 14px;
  margin: 0;
  font-weight: normal;
  padding-top: 3px; }

.news-latest-item p {
  font-size: 12px;
  margin: 0; }

.news-latest-date {
  margin-bottom: 8px; }

.main-text {
  padding: 0 20px; }
  .main-text h2 {
    font-size: 23px; }
  .main-text p {
    font-size: 17px;
    line-height: 1.5; }

.italic {
  font-family: arial, sans-serif;
  font-size: 19px;
  font-style: italic; }

.orange {
  color: #f69520;
  font-style: normal; }

.listStyle li:before {
  content: "\00BB\0020"; }

.footerBG {
  background: #dfdfdf; }

.grid_2 {
  border-left: 1px solid #c1c1c1;
  padding: 0 0 0 25px; }

.alpha {
  border: 0;
  padding: 0 0 0 16px; }

.socialLogo {
  position: absolute;
  top: 70px;
  right: 15px; }
  .socialLogo img {
    padding: 2px; }
  .socialLogo img:first-child {
    padding-left: 50px; }

.copyright {
  font-size: 12px;
  margin: 0 15px;
  padding: 10px 0;
  border-top: 1px solid #cfcfcf; }
